<div *ngIf="footballCamp$ | async as footballCamp">
  <div *ngIf="session$ | async as session">
    <br>
    En cliquant sur suivant, votre pré-inscription sera active pour <b> le stage de {{footballCamp.city}} </b>.
    <br>
    <!-- TODO : Gérer les prix halfBoardRates/fullBoardRates et prix deuxième enfant-->
    Pour confirmer votre inscription, vous devrez verser la somme de <b> {{session.halfBoardRates}} € </b>
    avant le <b>{{session.endRegistrationDate.toDate() | date : 'longDate'}}.</b>
    <br>

    <div class="accepted-payment-type-container">
      Les différents mode de paiement acceptés :
      <div *ngFor="let paymentType of session.acceptedPaymentTypes">
        <div *ngIf="paymentType === 'CARD'">
          <img src='assets/img/card.jpg' class="logo">
        </div>
        <div *ngIf="paymentType === 'CHECK'">
          <img src='assets/img/check.png' class="logo">
        </div>
        <div *ngIf="paymentType === 'HOLIDAY_CHECK'">
          <img src='assets/img/holiday-check.png' class="logo">
        </div>
      </div>
    </div>
    Pour la paiement du stage, veuillez vous rapprocher de l'une des personnes suivantes:
    <br>
    <mat-list>
      <mat-list-item *ngFor="let organizer of footballCamp.details.organizers">
        <img matListAvatar [src]="organizer.pathToPicture" class="contact-avatar" *ngIf="organizer.manageRegistration">
        <h3 matLine *ngIf="organizer.manageRegistration"> {{organizer.firstname}} {{organizer.lastname}} </h3>
        <p matLine *ngIf="organizer.manageRegistration"><span> {{organizer.phoneNumber}} </span></p>
      </mat-list-item>
    </mat-list>
    <div class="next-button">
      <button mat-stroked-button color="primary" (click)="onPayLater()" [disabled]="isButtonDisabled">
        Suivant
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
