<div class="print-container" *ngIf="camp && session && registration">
  <mat-toolbar color="primary" class="title-container">{{registration.trainee.firstname | titlecase}}&nbsp;&nbsp;{{registration.trainee.lastname | uppercase}}</mat-toolbar>
  <div class="content-container">
    <div class="image-container">
      <img class="photo" [src]="getPhotoUrl(registration)">
    </div>
    <div class="text-container">

      <div>
        <h3>Stage</h3>
        <div class="row-camp">
          <img class="logo" [src]="camp.details.pathToLogo">
          <span>{{camp.city}}</span>
        </div>
      </div>

      <div>
        <h3>Session</h3>
        <div class="row-session">
          Du {{session.start.toDate() | date : 'longDate'}} au {{session.end.toDate() | date : 'longDate'}}
        </div>
      </div>

      <div>
        <h3>Caractéristiques générales </h3>
        Prénom : {{registration.trainee.firstname | titlecase}} <br>
        Nom : {{registration.trainee.lastname | uppercase}} <br>
        Sexe : {{registration.trainee.gender | gender}} <br>
        Email : {{registration.trainee.email}} <br>
        Date de naissance : {{registration.trainee.birthdate.toDate() | date}}<br>
        Age : {{registration.trainee.birthdate.toDate() | age}} ans <br>
      </div>

      <div>
        <h3>Caractéristiques sportives</h3>
        Club : {{registration.trainee.club | titlecase}}<br>
        Poste : {{registration.trainee.fieldPosition | fieldPosition}}<br>
        Pied : {{registration.trainee.feet | feet}}<br>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    Fiche d'inscription ~ Footcamps
  </div>
</div>
