@mixin app-footcamps-list-overview-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-footcamps-list-overview {
    .loading-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      min-height: 200px;
      margin-top: 20px;
    }

    .footcamps-outer-container {
      align-self: center;
      width: 100%;

      display: flex;
      flex-direction: column;

      .footcamps-container {
        width: 80%;
        margin-top: 20px;
        align-self: center;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @include small-screen {
          width: 100%;
          justify-content: center;
        }

        .footcamp-container {
          min-width: 300px;
          width: 450px;
          max-width: 450px;
          align-self: stretch;
          border: 1px solid rgba(0, 0, 0, 0.25);
          background-color: white;
          margin-bottom: 20px;

          @include small-screen {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            border-top: 1px solid rgba(0, 0, 0, 0.25);
          }

          .header-container {
            align-self: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 55px;
            position: relative;

            .brand {
              font-size: 25px;
            }

            .logo {
              height: 40px;
              left: 15px;
              position: absolute;
            }
          }

          .background-image {
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .content-container {
            padding: 10px;
            display: flex;
            flex-direction: column;

            .card-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #E7F8FF;
              border-radius: 50%;
              min-width: 50px;
              width: 50px;
              min-height: 50px;
              height: 50px;
              margin-right: 10px;

              mat-icon {
                width: 25px !important;
                height: 25px !important;
                font-size: 25px !important;
                line-height: 1 !important;
              }
            }

            .location-container {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 5px;
            }

            .category-container {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 5px;

              .category {
              }
            }

            .price-container {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 5px;
            }

            .sessions-container {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 5px;

              .date {
                width: 230px;
              }

              .sessions-inner-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: stretch;
              }
            }
          }
        }
      }
    }
  }

}
