<div *ngIf="!(footballCamps && sessions)">
  <div class="loading-container">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
</div>

<div class="footcamps-outer-container">
  <div class="footcamps-container" *ngIf="footballCamps && sessions">
    <div class="footcamp-container" *ngFor="let footCamp of this.footballCamps">
      <div class="header-container">
        <img class="logo" [src]="footCamp.details.pathToLogo">
        <span class="brand">{{footCamp.city}}</span>
      </div>
      <div class="background-image" [ngStyle]="{'background-image': getFootballCampOverviewImage(footCamp)}"></div>
      <div class="action-button-container">
        <a class="action-button" [routerLink]="['/v2/stages/' + footCamp.id + '/details']">Détails</a>
      </div>
      <div class="content-container">
        <div class="location-container">
          <div class="card-icon">
            <mat-icon color="primary" [inline]="true">location_on</mat-icon>
          </div>
          {{footCamp.details.address}}
        </div>
        <div class="category-container">
          <div class="card-icon">
            <mat-icon color="primary" [inline]="true">person</mat-icon>
          </div>
          <div class="category">De {{footCamp.minimumAge}} à {{footCamp.maximumAge}} ans inclus</div>
        </div>
        <div class="price-container">
          <div class="card-icon">
            <mat-icon color="primary" [inline]="true">euro_symbol</mat-icon>
          </div>
          {{footCamp.paymentInfo.prices.halfBoardPrice}} €
        </div>
        <ng-container *ngFor="let session of sessions">
          <ng-container *ngIf="session.campId == footCamp.id">
            <div class="sessions-container">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">event_available</mat-icon>
              </div>
              <span class="date">{{session.start.toDate() | date : 'shortDate'}}
                au {{session.end.toDate() | date : 'shortDate'}}</span>
              <div class="sessions-inner-container">
                <mat-progress-bar mode="determinate"
                                  [value]="percentageOfRegistrations(session)"
                                  color="primary">
                </mat-progress-bar>
                <div>
                <span *ngIf="percentageOfAvailability(session) !== 0">{{availableRegistrations(session)}}
                  Disponible(s)</span>
                  <span *ngIf="percentageOfAvailability(session) === 0">(Complet)</span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
