@mixin overview($color) {
  border-left-color: $color;
  border-left-width: 20px;
  border-left-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin circle($color) {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background-color: $color;
  font-size: x-large;
}

@mixin app-football-camp-session-overview-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-football-camp-session-overview {
    .registrations-overview-container {
      display: flex;
      flex: 1;
      flex-direction: row;

      @include small-screen {
        flex-direction: column;
        margin-bottom: 15px;
      }

      mat-card {
        margin-left: 15px;

        @include small-screen {
          margin-left: 0px;
        }
      }

      .overview-accepted {
        @include overview(mat-color($primary));
        .circle {
          @include circle(mat-color($primary));
        }
      }

      .overview-in-progress {
        @include overview(mat-color($accent));
        .circle {
          @include circle(mat-color($accent));
        }
      }

      .overview-rejected {
        @include overview(mat-color($warn));
        .circle {
          @include circle(mat-color($warn));
        }
      }
    }
  }
}
