<md-toolbar color="primary">
  <button md-icon-button (click)="onMenuClicked()" *ngIf="!backUrl">
    <md-icon>menu</md-icon>
  </button>

  <button md-icon-button (click)="onBackClicked()" *ngIf="backUrl">
    <md-icon>arrow_back</md-icon>
  </button>
  <span fxFlex=5px></span>
  <span class="brand" fxFlex>F<img src='assets/img/examples/ball-white-2.png' class="logo"><img src='assets/img/examples/ball-white-2.png' class="logo">tcamps</span>

  <button md-icon-button md-button (click)="onAccountClicked()">
    <md-icon>account_circle</md-icon>
  </button>

</md-toolbar>
