@mixin football-camp-header-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  football-camp-header {
    z-index: 1;

    .logo {
      height: 40%;
      margin-right: 10px;
    }

    .brand {
      font-family: 'Milkshake';
      font-size: 30px;
    }
  }
}
