<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuClicked()" *ngIf="!backUrl">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button (click)="onBackClicked()" *ngIf="backUrl">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span fxFlex=5px></span>
  <span class="brand" fxFlex>F<img src='assets/img/examples/ball-white-2.png' class="logo"><img src='assets/img/examples/ball-white-2.png' class="logo">tcamps</span>

  <button mat-icon-button mat-button (click)="onAccountClicked()">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
