<div class="overview-container">
  <mat-card *ngIf="user">
    <mat-card-content>
      Bienvenue <b>{{user.email}}</b>, vous êtes sur la page d'administration de Footcamps.<br>
      Sur cette page vous pouvez:
      <ul>
        <li>- Visualiser les inscriptions aux différentes sessions d'un stage de football.</li>
        <li>- Valider / Refuser une inscription au statut 'En cours'</li>
        <li>- Imprimer les fiches joueurs</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div *ngIf="footballCamps && sessions" class="camp-and-session-container">
    <mat-form-field>
      <mat-select #uiControlFootballCamp placeholder="Stage">
        <mat-option
          *ngFor="let footballCamp of this.footballCamps"
          [value]="footballCamp"
        >
          {{footballCamp.city}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select #uiControlSession placeholder="Sessions">
        <mat-option
          *ngFor="let session of this.sessions"
          [value]="session"
        >
          {{session.start.toDate() | date}} au {{session.end.toDate() | date}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="(selectedSession | async) as aSession">
      <app-football-camp-session-overview [sessionId]="aSession.id"></app-football-camp-session-overview>
    </div>
  </div>

  <ng-container *ngIf="(selectedSession | async) as aSession">
    <app-football-camp-admin-dashboard-registration-table [sessionId]="aSession.id"
                                                          [adminMode]="true"
                                                          (registrationSelected)="onRegistrationSelected($event)"></app-football-camp-admin-dashboard-registration-table>
  </ng-container>
</div>

<div *ngIf="currentRegistration" class="details-container">
  <app-football-camp-admin-dashboard-registration-details
    [registrationId]="currentRegistration.id"></app-football-camp-admin-dashboard-registration-details>
</div>
