@mixin app-football-camp-admin-dashboard-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  app-football-camp-admin-dashboard {
    display: flex;
    flex: 1;
    flex-direction: row;
    @include small-screen {
      flex-direction: column;
    }
    padding: 15px;

    .overview-container {
      display: flex;
      flex: 60%;
      flex-direction: column;

      @include small-screen {
        flex: none;
        margin-bottom: 10px;
      }

      ul {
        margin-left: 10px;
      }

      .camp-and-session-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;

        @include small-screen {
          flex-direction: column;
        }

        mat-form-field {
          margin: 10px;
        }
      }

      .table-details-registration-container {
        flex: 1;
        display: flex;
        flex-direction: row;
      }
    }

    .details-container {
      flex: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include small-screen {
        flex: none;
      }
    }
  }
}
