@mixin football-camp-overview-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  md-toolbar {
    @include mat-elevation(1);
    z-index: 1;
  }

  md-card {
    z-index: 0;
  }

  football-camp-overview {
    overflow-y: scroll;
  }
}
