@mixin football-camp-login-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  app-football-camp-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #firebaseui-auth-container {
    }
  }
}
