<mat-card *ngIf="registration">
  <mat-card-header>
    <div class="header-container">
      <div class="print-button-container">
        <mat-spinner [diameter]="40" *ngIf="disablePrintButton"></mat-spinner>
        <button [disabled]="disablePrintButton" mat-stroked-button color="primary" (click)="print()">
          <mat-icon>print</mat-icon>
          Fiche d'inscription
        </button>
      </div>
      <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>
      <img class="photo" [hidden]="loading" [src]="getPhotoUrl(registration)" (load)="onLoad()">
      <div class="name-age-container">
        <span
          class="name">{{registration.trainee.firstname | titlecase}} {{registration.trainee.lastname | uppercase}}</span>
        <div class="age">{{registration.trainee.birthdate.toDate() | age}} ans</div>
      </div>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <b>Etat inscription</b> : <span [ngClass]="{'primary': registration.state === 'ACCEPTED',
                                            'accent': registration.state === 'IN_PROGRESS',
                                            'warn': registration.state === 'REJECTED'
                                            }">
                            <b>{{registration.state | state}}</b>
                          </span><br>

    <div class=caracteristic-container>
      <div class="caracteristic-general-container">
        <h2>Caractéristiques générales </h2>
        Prénom : {{registration.trainee.firstname | titlecase}} <br>
        Nom : {{registration.trainee.lastname | uppercase}} <br>
        Sexe : {{registration.trainee.gender | gender}} <br>
        Email : {{registration.trainee.email}} <br>
        Date de naissance : {{registration.trainee.birthdate.toDate() | date}}<br>
        Age : {{registration.trainee.birthdate.toDate() | age}} ans <br>
        Pointure: {{registration.trainee.shoeSize}}<br>
        Taille Maillot/Short : {{registration.trainee.shortSize}}
      </div>
      <div>
        <h2>Caractéristiques sportives</h2>
        Club : {{registration.trainee.club | titlecase}}<br>
        Poste : {{registration.trainee.fieldPosition | fieldPosition}}<br>
        Pied : {{registration.trainee.feet | feet}}<br>
      </div>
    </div>

    <h2>Documents</h2>
    <div *ngFor="let document of registration.documents">
      <app-football-camp-file-upload [inputDocument]="document"
                                     (document)="updateDocument($event)"></app-football-camp-file-upload>
    </div>

    <h2>Paiement</h2>
    <div *ngIf="payment">
      <!-- TODO handle payment type -->
      Type paiement : {{payment.type | paymentType}} <br>
      Etat paiement : {{payment.state | paymentState}}
    </div>

  </mat-card-content>
  <mat-card-actions align="center" *ngIf="registration.state === 'IN_PROGRESS'">
    <button mat-stroked-button (click)="accept(registration)" color="primary">Accepter inscription</button>
    <button mat-stroked-button (click)="reject(registration)" color="warn">Refuser inscription</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
