@mixin app-football-camp-registrations-viewer-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-football-camp-registrations-viewer {
    flex-direction: column;

    @include big-screen {
      flex-direction: row;
    }

    .role {
      position: fixed;
      bottom: 20px;
      left: 15px;
      z-index: -1;
    }

    .sessions {
      margin-top: 15px !important;
      @include big-screen {
        margin-right:15px;
        margin-left: 15px;

        min-width: 375px;
        max-width: 375px;
      }
    }

    .registrations {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
      margin-top: 15px !important;
      width: 100%;
      @include big-screen {
        margin-right: 15px;
      }

      mat-card {
        width: 100%;

        @include big-screen {
          width: 300px;
          margin-bottom: 10px;
        }

        .accent {
          background-color: mat-color($accent);
          padding: 7px;
          border-radius: 5px;
        }

        .primary {
          background-color: mat-color($primary);
          padding: 7px;
          border-radius: 5px;
        }

        .warn {
          background-color: mat-color($warn);
          padding: 7px;
          border-radius: 5px;
        }
      }
    }
  }
}
