@mixin app-football-camp-registrations-viewer-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-football-camp-registrations-viewer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    mat-card {
      margin-top: 15px !important;
      width: 300px;

      .warn {
        background-color: mat-color($accent);
        padding: 7px;
        border-radius: 5px;
      }

      .primary {
        background-color: mat-color($primary);
        padding: 7px;
        border-radius: 5px;
      }
    }
  }
}
