<div *ngIf="user" class="role">
  {{user.role}}
</div>
<div *ngIf="sessions" class="sessions">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let session of sessions; let i = index" [expanded]="session == selectedSession" (opened)="updateSelectedSession(session)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Session n°{{i}}
        </mat-panel-title>
        <mat-panel-description>
          du {{session.start | date : 'shortDate'}} au {{session.end | date : 'shortDate'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Nombre de place disponibles: {{session.maximumNumberOfRegistrations}}</p>
      <p>Nombre de pré-inscriptions: {{session.currentNumberOfRegistrations}}</p>
      <p>Nombre d'inscriptions complètes: TODO</p>
      <p *ngIf="session.halfBoardRates">Tarifs demi pension: {{session.halfBoardRates}} €</p>
      <p *ngIf="session.fullBoardRates">Tarifs pension complète: {{session.fullBoardRates}} €</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngIf="registrations" class="registrations">
  <mat-card *ngFor="let registration of registrations; let i = index">
    <mat-card-header>
      <img matCardAvatar
           src="https://lh3.googleusercontent.com/-XlV8qhXgMbs/AAAAAAAAAAI/AAAAAAAAABI/fsluBBoN5gY/photo.jpg">
      <mat-card-title>{{registration.firstname}} {{registration.lastname}}</mat-card-title>
      <mat-card-subtitle>{{registration.birthdate | age}} ans</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>
      <br>
      Etat inscription: <span class="warn"><b>Pré-inscrit</b></span><br>

      <h2>Caractéristiques générales </h2>
      Nom: {{registration.firstname}} <br>
      Prénom: {{registration.lastname}} <br>
      Sexe: {{registration.gender}} <br>
      Email: {{registration.email}} <br>
      Age: {{registration.birthdate | age}} ans <br>

      <h2>Caractéristiques sportives</h2>
      Club: {{registration.club}}<br>
      <!-- TODO : pipe fieldPosition-->
      Poste: {{registration.fieldPosition}}<br>
      <!-- TODO : pipe feet-->
      Pied: {{registration.feet}}<br>

    </mat-card-content>
    <mat-card-actions align="center">
      <!-- TODO : plug button-->
      <button mat-button (click)="onAction1" color="primary">Valider inscription</button>
      <!-- TODO : plug button-->
      <button mat-button (click)="onAction1" color="warn">Annuler inscription</button>
    </mat-card-actions>
  </mat-card>
</div>
