<div *ngIf="sessions" class="sessions-container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let session of sessions; let i = index" [expanded]="session == selectedSession"
                         (opened)="updateSelectedSession(session)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Session n°{{i}}
        </mat-panel-title>
        <mat-panel-description>
          du {{session.start.toDate() | date : 'shortDate'}} au {{session.end.toDate() | date : 'shortDate'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Nombre de place disponibles: {{session.maximumNumberOfRegistrations}}</p>
      <p>Nombre de pré-inscriptions: {{session.numberOfRegistrationsInProgress}}</p>
      <p>Nombre d'inscriptions acceptées: {{session.numberOfRegistrationsAccepted}}</p>
      <p>Nombre d'inscriptions refusées: {{session.numberOfRegistrationsRejected}}</p>
      <p *ngIf="session.halfBoardRates">Tarifs demi pension: {{session.halfBoardRates}} €</p>
      <p *ngIf="session.fullBoardRates">Tarifs pension complète: {{session.fullBoardRates}} €</p>
    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <button mat-stroked-button (click)="print()" color="primary">Imprimer</button>
</div>

<div *ngIf="selectedSession" class="registrations-container">
  <app-football-camp-registrations-overview [sessionId]="selectedSession.id"></app-football-camp-registrations-overview>

  <div *ngIf="registrations" class="registrations-card-container" #elementRegistrations>
    <mat-card *ngFor="let registration of registrations; let i = index">
      <mat-card-header>
        <!-- TODO picture -->
        <img matCardAvatar
             src="https://lh3.googleusercontent.com/-XlV8qhXgMbs/AAAAAAAAAAI/AAAAAAAAABI/fsluBBoN5gY/photo.jpg">
        <mat-card-title>{{registration.trainee.firstname}} {{registration.trainee.lastname}}</mat-card-title>
        <mat-card-subtitle>{{registration.trainee.birthdate.toDate() | age}} ans</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>
      <mat-card-content>
        <br>
        Etat inscription: <span [ngClass]="{'primary': registration.state === 'ACCEPTED',
                                          'accent': registration.state === 'IN_PROGRESS',
                                          'warn': registration.state === 'REJECTED'
                                          }">
                          <b>{{registration.state | state}}</b>
                        </span><br>

        <h2>Caractéristiques générales </h2>
        Nom: {{registration.trainee.firstname}} <br>
        Prénom: {{registration.trainee.lastname}} <br>
        Sexe: {{registration.trainee.gender | gender}} <br>
        Email: {{registration.trainee.email}} <br>
        Age: {{registration.trainee.birthdate.toDate() | age}} ans <br>

        <h2>Caractéristiques sportives</h2>
        Club: {{registration.trainee.club}}<br>
        Poste: {{registration.trainee.fieldPosition | fieldPosition}}<br>
        Pied: {{registration.trainee.feet | feet}}<br>

      </mat-card-content>
      <mat-card-actions align="center" *ngIf="registration.state === 'IN_PROGRESS'">
        <button mat-stroked-button (click)="accept(registration)" color="primary">Accepter inscription</button>
        <button mat-stroked-button (click)="reject(registration)" color="warn">Refuser inscription</button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
      <div class="html2pdf__page-break" *ngIf="i !== (registrations.length - 1)"></div>
    </mat-card>
  </div>
</div>
