<div class="loading-container" *ngIf="!(footballCamp && sessions)">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>
<div class="badges-container" *ngIf="footballCamp && sessions">
  <app-football-camp-badge [title]="'Stage'" [subtitle]="getSessionSubtitle()"></app-football-camp-badge>
  <app-football-camp-badge [title]="'Inscription'" [subtitle]="getRegistrationSubtitle()"></app-football-camp-badge>
  <app-football-camp-badge [title]="'Âge'" [subtitle]="getAgeSubtitle()"></app-football-camp-badge>
  <app-football-camp-badge [title]="'Tarif'" [subtitle]="getPriceSubtitle()"></app-football-camp-badge>
</div>
