@mixin football-camp-overview-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  football-camp-overview {
    overflow: auto;

    .overview-image {
      width: 100%;
      max-height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .overview-image-2 {
      max-height: 400px;
      overflow-y: auto;
    }

    mat-toolbar {
      @include mat-elevation(1);
      z-index: 1;
    }

    .toolbar-title {
      color: mat-color($primary);
    }

    .fab-button-wrapper {
      position: relative !important;
      margin-bottom: 10px;
    }

    .fab-button {
      position: absolute !important;
      right: 5px;
      bottom: -25px;
    }

    mat-card {
      padding-top: 100px !important;
      z-index: 0;

      .description-container {
        .description-block {
          margin-bottom: 10px;

          ul {
            list-style: inside;

            li {
              margin-left: 20px;
            }
          }
        }
      }

      .card-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E7F8FF;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 5px;

        mat-icon {
          width: 25px !important;
          height: 25px !important;
          font-size: 25px !important;
          line-height: 1 !important;
        }
      }

      .location-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
      }

      .category-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;

        .category {
        }
      }

      .price-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
      }

      .sessions-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;

        .date {
         width: 170px;
        }

        mat-progress-bar {
          flex: 1;
          margin-left: 5px;
        }
      }

      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
