<ng-container *ngIf="!(footballCamp && sessions)">
  <div class="loading-container">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
  </div>
</ng-container>
<div *ngIf="footballCamp && sessions">
  <mat-card>
    <div class="fab-button-wrapper">
      <div class="overview-image">
        <img [src]="footballCamp.overview.pathToImage">
      </div>
    </div>
    <mat-card-content>

      <div class="button-container">
        <app-football-camp-action-button
          *ngIf="showDetailsButton"
          [action]="'Détails'"
          [routerLink]="[ '/locate', this.footballCamp.id, 'details-v2']">

        </app-football-camp-action-button>
      </div>

      <div class="location-container">
        <div class="card-icon">
          <mat-icon color="primary" [inline]="true">location_on</mat-icon>
        </div>
        {{footballCamp.details.address}}
      </div>

      <div class="category-container">
        <div class="card-icon">
          <mat-icon color="primary" [inline]="true">person</mat-icon>
        </div>
        <div class="category">De {{footballCamp.minimumAge}} à {{footballCamp.maximumAge}} ans inclus</div>
      </div>

      <div class="price-container">
        <div class="card-icon">
          <mat-icon color="primary" [inline]="true">euro_symbol</mat-icon>
        </div>
        {{footballCamp.averagePrice}} €
      </div>

      <div *ngFor="let session of sessions" class="sessions-container">
        <div class="card-icon">
          <mat-icon color="primary" [inline]="true">event_available</mat-icon>
        </div>
        <span class="date">Du {{session.start.toDate() | date : 'longDate'}}
          au {{session.end.toDate() | date : 'longDate'}} </span>
        <div class="sessions-inner-container">
          <mat-progress-bar mode="determinate"
                            [value]="percentageOfRegistrations(session)"
                            color="primary">
          </mat-progress-bar>
          <div>{{(session.numberOfRegistrationsInProgress + session.numberOfRegistrationsAccepted)}} / {{session.maximumNumberOfRegistrations}}
            <span *ngIf="percentageOfRegistrations(session) ===100">(Complet)</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
