<div *ngIf="footballCamp">
  <!-- <mat-toolbar class="toolbar-title">{{footballCamp.overview.title}}</mat-toolbar> -->
  <mat-card>
    <div class="fab-button-wrapper">
      <div class="overview-image" [ngStyle]="{'background-image': 'url(' + footballCamp.overview.pathToImage + ')'}"></div>
      <button (click)="onDetailsClicked()" mat-fab color="primary" class="fab-button">
        <mat-icon class="mat-24">add</mat-icon>
      </button>
    </div>
    <mat-card-content>
      {{footballCamp.overview.content}}
    </mat-card-content>
  </mat-card>

  <div *ngIf="session">
    campId: {{session.campId}}<br>
    enabled: {{session.enabled}}<br>
    end: {{session.end}}<br>
    fullBoardRates: {{session.fullBoardRates}}<br>
    halfBoardRates: {{session.halfBoardRates}}<br>
    maximumNumberOfRegistrations: {{session.maximumNumberOfRegistrations}}<br>
    start: {{session.start}}<br>
  </div>

  <div *ngIf="registrations">
    <li *ngFor="let registration of registrations">
      {{ registration.firstname }}
      {{ registration.lastname }}
    </li>
  </div>
</div>
