<div>
  <!-- <mat-toolbar class="toolbar-title">{{footballCamp.overview.title}}</mat-toolbar> -->
  <mat-card>
    <div class="fab-button-wrapper">
      <div class="overview-image" [ngStyle]="{'background-image': 'url(' + footballCamp.overview.pathToImage + ')'}"></div>
      <button (click)="onDetailsClicked()" mat-fab color="accent" class="fab-button">
        <mat-icon class="mat-24">add</mat-icon>
      </button>
    </div>
    <mat-card-content>
      {{footballCamp.overview.content}}
    </mat-card-content>
  </mat-card>

</div>
