@mixin setColor($color) {
  .title {
    background: $color;
  }
}

@mixin app-badges-theme($theme) {
  app-badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .loading-container {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .badges-container {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      @include small-screen {
        flex-wrap: wrap;
      }
    }
  }
}
