<div class="loading-container" *ngIf="!(footballCamp && sessions)">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>
<div class="badges-container" *ngIf="footballCamp && sessions">
  <app-badge [title]="'Session'" [subtitle]="getSessionSubtitle()"></app-badge>
  <app-badge [title]="'Inscription'" [subtitle]="getRegistrationSubtitle()"></app-badge>
  <app-badge [title]="'Âge'" [subtitle]="getAgeSubtitle()"></app-badge>
  <app-badge [title]="'Tarif'" [subtitle]="getPriceSubtitle()"></app-badge>
</div>
