<md-card class="search-bar">
  <form>
    <md-form-field>
      <button md-icon-button (click)="onCloseClicked()" mdPrefix>
        <md-icon>clear</md-icon>
      </button>
      <input type="text" mdInput placeholder="Rechercher un stage de football" [formControl]="searchInput" [mdAutocomplete]="auto">
      <button md-icon-button mdSuffix>
        <md-icon>search</md-icon>
      </button>
    </md-form-field>

    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
      <md-option *ngFor="let footballCamp of filteredFootballCamps | async" [value]="footballCamp">
        {{ footballCamp.city }}
      </md-option>
    </md-autocomplete>
  </form>
</md-card>

<div class="overview-and-map">
  <football-camp-overview [hidden]="!footballCamp">
  </football-camp-overview>

  <football-camp-map [hidden]="footballCamp">
  </football-camp-map>
</div>
