<md-card
  class="search-bar"
  [fxHide]="footballCamp"
>
  <form>
    <md-form-field>
      <input type="text" mdInput placeholder="Rechercher un stage de football" [formControl]="searchInput"
             [mdAutocomplete]="auto">
      <md-icon mdSuffix>search</md-icon>
    </md-form-field>

    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
      <md-option *ngFor="let footballCamp of filteredFootballCamps | async" [value]="footballCamp">
        {{ footballCamp.city }}
      </md-option>
    </md-autocomplete>
  </form>
</md-card>

<div fxLayout.gt-sm="row" fxLayout="column" fxFlex="grow">

  <football-camp-overview
    [fxHide]="!footballCamp"
    fxFlex.gt-sm="30%"
    fxFlex="100%"
  >
  </football-camp-overview>

  <football-camp-map
    [fxHide]="footballCamp"
    fxShow.gt-sm
    fxFlex.gt-sm="auto"
    fxFlex="100%"
  >
  </football-camp-map>
</div>
