@mixin football-camp-locator-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  football-camp-locator {

    .search-bar {
      position: absolute;
      top: 15px;
      z-index: 2;
      padding: 15px 15px 0px 15px;

      @include big-screen {
        width: 485px;
        left: 22px;
      }

      @include small-screen {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }

      mat-form-field {
        width: 100%;

        mat-icon {
          font-size: 150% !important;
        }
      }
    }

    .content-container {
      display: flex;
      flex-direction: row;
      flex: 1;

      @include small-screen {
        width: 100%;
      }

      football-camp-overview {
        width: 530px;
        @include small-screen {
          width: 100%;
        }
      }

      app-football-camp-details-v2 {
        flex: 1;
        @include small-screen {
          width: 100%;
        }
      }

      football-camp-map {
        flex: 1;
        height: 100%;
        display: block !important;
      }

      app-football-camp-registration-v2 {
        flex: 1;
      }
    }
  }
}
