<md-card class="search-bar" fxFlex.gt-sm="580px" fxFlex="grow">
  <form>
    <md-form-field>
      <button md-icon-button (click)="onCloseClicked()" mdPrefix>
        <md-icon>clear</md-icon>
      </button>
      <input fxFlex type="text" mdInput placeholder="Rechercher un stage de football" [formControl]="searchInput" [mdAutocomplete]="auto">
      <button md-icon-button mdSuffix>
        <md-icon>search</md-icon>
      </button>
    </md-form-field>

    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
      <md-option *ngFor="let footballCamp of filteredFootballCamps | async" [value]="footballCamp">
        {{ footballCamp.city }}
      </md-option>
    </md-autocomplete>
  </form>
</md-card>

<div fxLayout.gt-sm="row" fxLayout="column" fxFlex="grow">
  <football-camp-overview [fxHide]="!footballCamp" fxFlex.gt-sm="600px" fxFlex="grow">
  </football-camp-overview>

  <football-camp-map [fxHide]="footballCamp" fxShow.gt-sm fxFlex.gt-sm="auto" fxFlex="100%">
  </football-camp-map>
</div>