<form [formGroup]="registrationForm"
      class="registration-form-group-container"
      novalidate>
  <h4>Informations du stagiaire</h4>

  <!-- firstname -->
  <mat-form-field>
    <input matInput placeholder="Prénom" formControlName="firstname" required>
    <mat-error *ngIf="firstname.invalid">{{getFirstnameError()}}</mat-error>
  </mat-form-field>

  <!-- lastname -->
  <mat-form-field>
    <input matInput placeholder="Nom" formControlName="lastname" required>
    <mat-error *ngIf="lastname.invalid && lastname.dirty">{{getLastnameError()}}</mat-error>
  </mat-form-field>

  <!-- gender -->
  <mat-radio-group formControlName="gender">
    Sexe <sup>*</sup> :&nbsp;
    <mat-radio-button value="MALE">Garçon</mat-radio-button>
    &nbsp;
    <mat-radio-button value="FEMALE">Fille</mat-radio-button>
  </mat-radio-group>
  <span class="separator"></span>

  <!-- birthdate -->
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date de naissance" formControlName="birthdate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
    <mat-error *ngIf="birthdate.invalid">{{getBirthdateError()}}</mat-error>
  </mat-form-field>

  <!-- Contact email -->
  <mat-form-field>
    <input matInput type="email" placeholder="Email de contact" formControlName="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
  </mat-form-field>

  <h4>Caractéristiques sportives du stagiaire</h4>
  <!-- Club -->
  <mat-form-field>
    <input matInput placeholder="Club actuel" formControlName="club">
  </mat-form-field>

  <!-- Poste préféré : Gardien / Défenseur / Milieu / Attaquant -->
  <mat-radio-group formControlName="fieldPosition">
    Poste préférentiel <sup>*</sup> :&nbsp;
    <mat-radio-button value="GOALKEEPER">Gardien</mat-radio-button>
    &nbsp;
    <mat-radio-button value="DEFENDER">Défenseur</mat-radio-button>
    &nbsp;
    <mat-radio-button value="MIDFIELDER">Milieu</mat-radio-button>
    &nbsp;
    <mat-radio-button value="STRIKER">Attaquant</mat-radio-button>
  </mat-radio-group>
  <span class="separator"></span>

  <!-- Pied Gauche / Droit -->
  <mat-radio-group formControlName="feet">
    Pied préférentiel <sup>*</sup> :&nbsp;
    <mat-radio-button value="LEFT_FOOTED">Droitier</mat-radio-button>
    &nbsp;
    <mat-radio-button value="RIGHT_FOOTED">Gaucher</mat-radio-button>
  </mat-radio-group>
  <span class="separator"></span>

  <div>
    <br>
    registrationForm.valid = {{registrationForm.valid}}
  </div>


  <!--<h4>Informations du représentant légal</h4>-->
  <!--&lt;!&ndash; Nom & Prénom &ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Prénom" formControlName="legalRepresentativeFirstname" required>-->
  <!--<mat-error *ngIf="registrationForm.get('legalRepresentativeFirstname').invalid">{{getFirstnameError()}}-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Nom" formControlName="legalRepresentativeLastname" required>-->
  <!--<mat-error *ngIf="registrationForm.get('legalRepresentativeLastname').invalid">{{getLastnameError()}}-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash; Téléphone &ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Téléphone" formControlName="legalRepresentativePhoneNumber" required>-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash; Adresse &ndash;&gt;-->
  <!--<div class="address">-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Rue" formControlName="legalRepresentativeStreetAddress" required>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Code Postal" formControlName="legalRepresentativeZipCode" required>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Ville" formControlName="legalRepresentativeCity" required>-->
  <!--</mat-form-field>-->
  <!--</div>-->

  <!--&lt;!&ndash; Mutuelle &ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Numéro Sécurité Sociale"-->
  <!--formControlName="legalRepresentativeSocialSecurityNumber" required>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Nom mutuelle" formControlName="legalRepresentativeHealthInsuranceName">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Numéro adhérent mutuelle"-->
  <!--formControlName="legalRepresentativeHealthInsuranceMemberNumber">-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash; Autorisation &ndash;&gt;-->
  <!--&lt;!&ndash; TODO Paramétrer le nom et l'année du stage &ndash;&gt;-->
  <!--<div class="authorization">-->
  <!--<mat-checkbox required formControlName="authorization"></mat-checkbox>-->
  <!--<div>-->
  <!--Je soussigné {{legalRepresentativeFirstname.value}} {{legalRepresentativeLastname.value}} responsable-->
  <!--légal-->
  <!--de l’enfant, autorise mon fils (ou ma fille) à participer à toutes les activités organisées dans le cadre-->
  <!--du stage de foot été 2018.-->
  <!--<br><br>-->
  <!--J’autorise en outre le Directeur du stage été 2018 à faire soigner mon enfant, à l’hospitaliser, et à-->
  <!--faire-->
  <!--pratiquer les interventions chirurgicales nécessaires en cas de nécessité.-->
  <!--</div>-->
  <!--</div>-->

  <!--<span class="separator"></span>-->
  <!--<div class="next-button">-->
  <!--&lt;!&ndash; TODO : remettre le code &ndash;&gt;-->
  <!--&lt;!&ndash;[disabled]="registrationForm.invalid || !downloadURL"&ndash;&gt;-->
  <!--<button mat-button matStepperNext mat-raised-button color="primary"-->
  <!--[disabled]="registrationForm.invalid">Suivant-->
  <!--<mat-icon>chevron_right</mat-icon>-->
  <!--</button>-->
  <!--</div>-->
</form>
