<form [formGroup]="registrationForm"
      class="registration-form-group-container"
      novalidate>
  <ng-template matStepLabel>Inscription</ng-template>
  <h4>Informations du stagiaire</h4>
  <!--&lt;!&ndash; Photo &ndash;&gt;-->
  <!--<div class="image-upload-container">-->
  <!--<div class="image-upload" title="Ma photo">-->
  <!--<img *ngIf="!downloadURL" src="./assets/img/registration/avatar2.png" class="registration-avatar"/>-->
  <!--<img *ngIf="downloadURL" [src]="downloadURL" class="registration-avatar"/>-->
  <!--</div>-->
  <!--<span *ngIf="!downloadURL">La photo est obligatoire <sup>*</sup> </span>-->

  <!--<mat-progress-bar class="image-upload-progress-bar"-->
  <!--*ngIf="percentageUploaded && percentageUploaded !== 0 && percentageUploaded !== 100"-->
  <!--mode="determinate" [value]="percentageUploaded" color="primary"></mat-progress-bar>-->
  <!--</div>-->

  <!--<div class="image-upload-container">-->
  <!--<input [hidden]="true" id="input-file-id" type="file" accept="image/*" (change)="uploadFile($event)"/>-->
  <!--<label for="input-file-id" class="mat-button mat-raised-button mat-primary">-->
  <!--<mat-icon>attach_file</mat-icon>-->
  <!--&nbsp;&nbsp;Choisir une photo-->
  <!--</label>-->
  <!--</div>-->

  <!-- firstname -->
  <mat-form-field>
    <input matInput placeholder="Prénom" formControlName="firstname" required>
    <mat-error *ngIf="firstname.invalid">{{getFirstnameError()}}</mat-error>
  </mat-form-field>

  <!-- lastname -->
  <mat-form-field>
    <input matInput placeholder="Nom" formControlName="lastname" required>
    <mat-error *ngIf="lastname.invalid">{{getLastnameError()}}</mat-error>
  </mat-form-field>

  <!-- gender -->
  <mat-radio-group formControlName="gender">
    Sexe<sup>*</sup> :&nbsp;
    <mat-radio-button value="MALE">Garçon</mat-radio-button>
    &nbsp;
    <mat-radio-button value="FEMALE">Fille</mat-radio-button>
  </mat-radio-group>
  <span class="separator"></span>

  <!-- birthdate -->
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date de naissance" formControlName="birthdate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
    <mat-error *ngIf="birthdate.invalid">{{getBirthdateError()}}</mat-error>
  </mat-form-field>

  <div>
    <br>
    registrationForm.valid = {{registrationForm.valid}}
  </div>

  <!--&lt;!&ndash; Email &ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput type="email" placeholder="Email" formControlName="email" required>-->
  <!--<mat-error *ngIf="registrationForm.get('email').invalid">{{getEmailError()}}</mat-error>-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash; Adresse &ndash;&gt;-->
  <!--<div class="address">-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Rue" formControlName="streetAddress" required>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Code Postal" formControlName="zipCode" required>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Ville" formControlName="city" required>-->
  <!--</mat-form-field>-->
  <!--</div>-->

  <!--<h4>Caractéristiques sportives du stagiaire</h4>-->
  <!--&lt;!&ndash; Club &ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Club actuel" formControlName="club">-->
  <!--</mat-form-field>-->
  <!--&lt;!&ndash; Poste préféré : Gardien / Défenseur / Milieu / Attaquant &ndash;&gt;-->
  <!--<mat-radio-group formControlName="fieldPosition">-->
  <!--<mat-radio-button value="GOALKEEPER">Gardien</mat-radio-button>-->
  <!--<mat-radio-button value="DEFENDER">Défenseur</mat-radio-button>-->
  <!--<mat-radio-button value="MIDFIELDER">Milieu</mat-radio-button>-->
  <!--<mat-radio-button value="STRIKER">Attaquant</mat-radio-button>-->
  <!--</mat-radio-group>-->
  <!--<span class="separator"></span>-->
  <!--&lt;!&ndash; Pied Gauche / Droit &ndash;&gt;-->
  <!--<mat-radio-group formControlName="feet">-->
  <!--<mat-radio-button value="LEFT_FOOTED">Droitier</mat-radio-button>-->
  <!--<mat-radio-button value="RIGHT_FOOTED">Gaucher</mat-radio-button>-->
  <!--</mat-radio-group>-->
  <!--<span class="separator"></span>-->

  <!--<h4>Informations du représentant légal</h4>-->
  <!--&lt;!&ndash; Nom & Prénom &ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Prénom" formControlName="legalRepresentativeFirstname" required>-->
  <!--<mat-error *ngIf="registrationForm.get('legalRepresentativeFirstname').invalid">{{getFirstnameError()}}-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Nom" formControlName="legalRepresentativeLastname" required>-->
  <!--<mat-error *ngIf="registrationForm.get('legalRepresentativeLastname').invalid">{{getLastnameError()}}-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash; Téléphone &ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Téléphone" formControlName="legalRepresentativePhoneNumber" required>-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash; Adresse &ndash;&gt;-->
  <!--<div class="address">-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Rue" formControlName="legalRepresentativeStreetAddress" required>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Code Postal" formControlName="legalRepresentativeZipCode" required>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Ville" formControlName="legalRepresentativeCity" required>-->
  <!--</mat-form-field>-->
  <!--</div>-->

  <!--&lt;!&ndash; Mutuelle &ndash;&gt;-->
  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Numéro Sécurité Sociale"-->
  <!--formControlName="legalRepresentativeSocialSecurityNumber" required>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Nom mutuelle" formControlName="legalRepresentativeHealthInsuranceName">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Numéro adhérent mutuelle"-->
  <!--formControlName="legalRepresentativeHealthInsuranceMemberNumber">-->
  <!--</mat-form-field>-->

  <!--&lt;!&ndash; Autorisation &ndash;&gt;-->
  <!--&lt;!&ndash; TODO Paramétrer le nom et l'année du stage &ndash;&gt;-->
  <!--<div class="authorization">-->
  <!--<mat-checkbox required formControlName="authorization"></mat-checkbox>-->
  <!--<div>-->
  <!--Je soussigné {{legalRepresentativeFirstname.value}} {{legalRepresentativeLastname.value}} responsable-->
  <!--légal-->
  <!--de l’enfant, autorise mon fils (ou ma fille) à participer à toutes les activités organisées dans le cadre-->
  <!--du stage de foot été 2018.-->
  <!--<br><br>-->
  <!--J’autorise en outre le Directeur du stage été 2018 à faire soigner mon enfant, à l’hospitaliser, et à-->
  <!--faire-->
  <!--pratiquer les interventions chirurgicales nécessaires en cas de nécessité.-->
  <!--</div>-->
  <!--</div>-->

  <!--<span class="separator"></span>-->
  <!--<div class="next-button">-->
  <!--&lt;!&ndash; TODO : remettre le code &ndash;&gt;-->
  <!--&lt;!&ndash;[disabled]="registrationForm.invalid || !downloadURL"&ndash;&gt;-->
  <!--<button mat-button matStepperNext mat-raised-button color="primary"-->
  <!--[disabled]="registrationForm.invalid">Suivant-->
  <!--<mat-icon>chevron_right</mat-icon>-->
  <!--</button>-->
  <!--</div>-->
</form>
