<h4>Documents à fournir</h4>
<mat-list>
  <mat-divider></mat-divider>
  <mat-list-item>
    <app-football-camp-file-upload [type]="'FICHE_SANITAIRE'" #ficheSanitaire>
    </app-football-camp-file-upload>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <app-football-camp-file-upload [type]="'CERTIFICAT_MEDICAL'" #certificatMedical>
    </app-football-camp-file-upload>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <app-football-camp-file-upload [type]="'ASSURANCE_SCOLAIRE'" #assuranceScolaire>
    </app-football-camp-file-upload>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <app-football-camp-file-upload [type]="'PHOTO_IDENTITE'" #photoIdentite>
    </app-football-camp-file-upload>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<div>
  <br>
  <sup>(1)</sup> La fiche sanitaire à renseigner est téléchargeable <a download href="./assets/img/fiche-sanitaire.pdf">ici</a>
  <br>
</div>
