<div class="print-bar-sticky-container">
  <button class="action-button" matRipple (click)="onPrint()">Imprimer</button>
</div>


<div class="print-container">
  <div class="page">
    <div class="page-inner-container">
      <div class="header-container">Ingénieur Logiciel Senior</div>
      <div class="content-container">
        <div class="identity-container">
          <div class="identity-left-container">
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">face</mat-icon>
              </div>
              <div>Clément Tréguer (<a href="https://github.com/klem231188">GitHub</a>)</div>
            </div>
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">location_on</mat-icon>
              </div>
              <div>1 Nengoat 29860 Bourg-Blanc</div>
            </div>
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">mail</mat-icon>
              </div>
              <div>clemtreguer@gmail.com</div>
            </div>
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">phone</mat-icon>
              </div>
              <div>06 66 32 95 70</div>
            </div>
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">cake</mat-icon>
              </div>
              <div>32 ans</div>
            </div>
          </div>
          <div class="identity-right-container">
            <img class="avatar" src="./assets/img/resume/clement-treguer.jpeg">
          </div>
        </div>

        <div class="skill-container">
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">code</mat-icon>
            </div>
            <div class="skill-title"><b>Langages</b></div>
            <div>Java, TypeScript, Html, Scss, Sql, Bash</div>
          </div>
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">code</mat-icon>
            </div>
            <div class="skill-title"><b>Frameworks & Technologies</b></div>
            <div>SpringBoot, Angular, REST, Kafka, ActiveMQ, Docker, Firebase</div>
          </div>
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">build</mat-icon>
            </div>
            <div class="skill-title"><b>Outils de développement</b></div>
            <div>IntelliJ, Maven, Svn, Jenkins, Jira</div>
          </div>
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">build</mat-icon>
            </div>
            <div class="skill-title"><b>Méthodologies</b></div>
            <div>Scrum, Agilité</div>
          </div>
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">translate</mat-icon>
            </div>
            <div class="skill-title"><b>Langues</b></div>
            <div>Français, Anglais</div>
          </div>
        </div>

        <div class="experience-container">
          <div class="experience-line">
            <div class="img-container">
              <img class="addsecure" src="./assets/img/resume/addsecure.png">
            </div>
            <div class="date-container">
              <div>2018 - En cours</div>
            </div>
            <div>
              Ingénieur logiciel au sein de la société <b>AddSecure Smart Transport</b>.<br>
              Architecture de la solution et développement fullstack.
              Fonctionnalités: tournées chauffeurs, intégration des fichiers légaux, gestion sociale, entre autres. <br>
            </div>
          </div>
          <div class="experience-line">
            <div class="img-container">
              <img class="altran" src="./assets/img/resume/altran.png">
            </div>
            <div class="date-container">
              <div>2014 - 2018</div>
            </div>
            <div>
              Ingénieur logiciel au sein de la société <b>Altran</b>.<br>
              Mission pour Arkea. Développement fullstack et scrum master dans une équipe produit.
            </div>
          </div>
          <div class="experience-line">
            <div class="img-container">
              <img class="imascap" src="./assets/img/resume/imascap.png">
            </div>
            <div class="date-container">
              <div>2013 - 2014</div>
            </div>
            <div>
              Ingénieur logiciel au sein de la société <b>Imascap</b>. <br>
              Imascap propose des solutions innovantes dans la chirurgie assistée par ordinateur.
            </div>
          </div>
          <div class="experience-line">
            <div class="img-container">
              <img class="effitic" src="./assets/img/resume/effitic.png">
            </div>
            <div class="date-container">
              <div>2011 - 2013</div>
            </div>
            <div>
              Ingénieur logiciel au sein de la société <b>Effitic</b>.<br>
              Missions, pour deux clients :
              <ul>
                <li>Alcatel-Lucent (Routage téléphonique)</li>
                <li>Insee (Web)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="other-container">
          <div class="other-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">school</mat-icon>
            </div>
            <div class="other-title"><b>Formation</b></div>
            <div>Bac S, Maths Sup/Spé<sup>*</sup> à Brest.<br>
              École d'ingénieur de l'ENSICAEN à Caen. Informatique, spécialité traitement d'Images.
            </div>
          </div>
          <div class="other-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">sports_soccer</mat-icon>
            </div>
            <div class="other-title"><b>Centres d'intérêts</b></div>
            <div>Famille, informatique, course à pied, football.</div>
          </div>
          <div class="other-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">emoji_events</mat-icon>
            </div>
            <div class="other-title"><b>Réalisations</b></div>
            <div>
              Site web pour s'inscrire en ligne à un stage de football.<br>
              <a href="https://footcamps-development.web.app">https://footcamps-development.web.app</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
