@mixin app-football-camp-registration-v2-theme($theme) {
  app-football-camp-registration-v2 {
    overflow: auto;

    .loading-spinner-container {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      z-index: 10;
    }

    .registration-main-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .header-container {
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 25px;
        background-color: mat-color($primary, 1);
        width: 100%;

        .brand {
          font-family: 'Milkshake';
          font-size: 60px;
          color: white;
        }

        .logo {
          height: 100px;
          margin-right: 20px;
        }
      }

      .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: mat-color($primary);
        background-color: rgb(43, 43, 43);
        font-size: 25px;
        padding-bottom: 3px;
        width: 100%;

        .card-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          margin-left: 10px;
          margin-right: 5px;

          mat-icon {
            width: 25px !important;
            height: 25px !important;
            font-size: 25px !important;
            line-height: 1 !important;
          }
        }
      }

      .registration-stepper-container {
        min-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 4;

        h1 {
          font-size: 1.5em;
          color: mat-color($primary);
        }

        .separator {
          width: 100%;
          min-height: 15px;
        }

        .stepper-margin {
          @include big-screen {
            width: 100%;
            min-height: 40px;
          }
        }

        mat-vertical-stepper {
          width: 100%;
          flex: 1;
          background-color: initial !important;
          @include big-screen {
            width: 70%;
          }

          mat-radio-button {
            margin-left: 5px;
            margin-bottom: 5px;
          }

          .mat-step-icon, .mat-step-icon-not-touched {
            width: 30px;
            height: 30px;
          }

          .session-form-group-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            overflow: auto;

            .session-card {
              width: 250px;
              margin: 3px;

              .icon-selected-session {
                position: absolute;
                right: 10px;
                padding: 3px;
              }

              mat-card-actions {
                display: flex;
                flex-direction: column;
              }
            }
          }

          .registration-form-group-container {
            display: flex;
            flex-direction: column;
            overflow: auto;

            h4 {
              color: mat-color($primary);
            }

            .image-upload-container {
              display: flex;
              flex-direction: row;
              align-items: center;

              label {
                margin-top: 3px;
                margin-bottom: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
              }

              .image-upload {
                width: 125px;
                margin-right: 10px;

                .registration-avatar {
                  width: 125px;
                }
              }

              .image-upload-progress-bar {
                width: 125px;
              }
            }

            mat-form-field {
              width: 100%;
            }

            .next-button {
              mat-icon {
                height: 25px;
              }
            }

            .address {
              display: flex;
              flex-direction: column;
              @include big-screen {
                flex-direction: row;
                * {
                  margin-right: 2px;
                }
              }
            }

            .authorization {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              mat-checkbox {
                margin-left: 10px;
                margin-right: 10px;
              }
            }
          }

          .payment-form-group-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1;

            .warning {
              color: mat-color($warn);
            }

            .hidden-input {
              display: none;
            }

            .contact-avatar {
              height: 60px;
              width: 60px;
            }

            .next-button {
              mat-icon {
                height: 25px;
              }
            }

            mat-tab-group {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
