<div *ngIf="isLoading" class="loading-spinner-container">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>

<div *ngIf="footballCamp" class="registration-main-container">

  <!-- Header -->
  <div class="header-container">
    <img class="logo" [src]="footballCamp.details.pathToLogo">
    <span class="brand">{{footballCamp.city}}</span>
  </div>

  <div class="title-container">
    <div class="card-icon">
      <mat-icon color="primary" [inline]="true">create</mat-icon>
    </div>
    Inscription (5 à 10 min)
  </div>

    <!-- Stepper -->
    <div class="registration-stepper-container">
      <mat-vertical-stepper [linear]="true" #stepper>

        <!-- Step 1 : Choose a session-->
        <mat-step [completed]="(sessionComponent.isValid | async)">
          <ng-template matStepLabel>Choix session</ng-template>
          <app-football-camp-registration-sessions #sessionComponent
                                                   [campId]="footballCamp.id"></app-football-camp-registration-sessions>
          <div class="separator"></div>
          <div class="next-button">
            <button mat-stroked-button matStepperNext mat-stroked-button color="primary"
                    [disabled]="!(sessionComponent.isValid | async)">Suivant
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </mat-step>

        <!-- Step 2 : Fill in trainee form -->
        <mat-step [completed]="(traineeFormComponent.isValid | async)">
          <ng-template matStepLabel>Remplir formulaire</ng-template>
          <app-football-camp-registration-trainee-form
              #traineeFormComponent></app-football-camp-registration-trainee-form>

          <div class="separator"></div>
          <div class="next-button">
            <button mat-stroked-button matStepperNext mat-stroked-button color="primary"
                    [disabled]="!(traineeFormComponent.isValid | async)">Suivant
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </mat-step>

        <!--Step 3 : Document to supply -->
        <mat-step [completed]="(documents.valid | async)">
          <ng-template matStepLabel>Documents à fournir</ng-template>
          <app-football-camp-registration-documents #documents></app-football-camp-registration-documents>

          <div class="separator"></div>
          <div class="next-button">
            <button mat-stroked-button matStepperNext mat-stroked-button color="primary"
                    [disabled]="!(documents.valid | async)" (click)="saveRegistration()">Suivant
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </mat-step>

        <!--Step 4 : Payment -->
        <mat-step>
          <ng-template matStepLabel>Paiement</ng-template>
          <app-football-camp-registration-check-payment
              #checkPaymentComponent
              [campId]="footballCamp.id"
              [sessionId]="(sessionComponent.selectedSession | async)?.id"
              [registration]="registration"
          >
          </app-football-camp-registration-check-payment>
        </mat-step>

        <!-- Step 5 : Summary -->
        <mat-step [editable]="false">
          <ng-template matStepLabel>Récapitulatif</ng-template>
          Félicitations vous êtes <b>pré-inscrit</b> pour le stage de {{footballCamp.city}} !
          <br>
          Vous allez recevoir un mail de confirmation à l'adresse suivante: <b>{{registration?.trainee.email}}</b>
          <br>
          Un autre mail vous sera envoyé lorsque les documents envoyés ainsi que le paiement auront été vérifiés par
          l'organisateur.
        </mat-step>
      </mat-vertical-stepper>
    </div>
</div>


