<div class="main-container" *ngIf="footballCamp">

  <div class="background-container"></div>

  <div class="carousel-container">
    <div class="love"></div>
    <div class='foot'></div>
    <div class='camps'></div>
    <div class="big-wave">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="xMidYMid slice">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <div class="action-button-container">
    <a class="action-button" matRipple [routerLink]="['/stages/' + footballCamp.id + '/inscription']">Inscription</a>
  </div>

  <div snInViewport [inViewportOptions]="{rootMargin: '-56px'}" (inViewportChange)="onInViewportChange($event)"></div>

  <div *ngIf="showRegistrationBar" class="registration-bar-sticky-container">
    <div class="action-button-container">
      <a class="action-button" matRipple [routerLink]="['/stages/' + footballCamp.id + '/inscription']">Inscription</a>
    </div>
  </div>

  <div class="badges-outer-container">
    <app-badges [campId]="footballCamp.id"></app-badges>
  </div>

  <div class="flow-container">
    <div class="organizer-container">
      <p [innerHTML]="footballCamp.details.organizerDescription | safeHtml"></p>
      <div class="organizer-inner-container" *ngIf="footballCamp.details.organizers != null">
        <div class="quote" *ngFor="let organizer of footballCamp.details.organizers">
          <img class="avatar" src="{{organizer.pathToPicture}}">
          <blockquote>
            <div [innerHTML]="organizer.quote | safeHtml"></div>
            <cite>{{organizer.firstname}} {{organizer.lastname}}</cite>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="image-description-container">
    <div class="image-container">
      <a [href]="footballCamp.overview.pathToImage" target="_blank"><img [src]="footballCamp.overview.pathToImage400px"></a>
    </div>
    <div class="description-container" [innerHTML]="footballCamp.details.activityDescription"></div>
  </div>

  <div class="address-document-date-price-container">
    <div class="date-price-container">
      <div [innerHTML]="footballCamp.details.priceDescription"></div>

      <table>
        <thead>
        <tr>
          <th scope="col">Sessions</th>
          <th scope="col">Dates</th>
          <th scope="col">Tarifs</th>
          <th scope="col">Ages</th>
          <th scope="col">Inscriptions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let session of sessions; let i = index">
          <td data-label="Sessions">Session n°{{i + 1}}</td>
          <td data-label="Dates">Du {{session.start.toDate() | date : 'longDate'}}
            au {{session.end.toDate() | date : 'longDate'}}</td>
          <td data-label="Tarifs">
            <ng-container *ngIf="session.prices.free">Gratuit</ng-container>
            <ng-container *ngIf="!session.prices.free">
              <ng-container *ngIf="hasFullBoardRatesSessions()">pension complète: {{session.prices.fullBoardPrice}} €</ng-container>
              <ng-container *ngIf="hasHalfBoardRatesSessions()">demi-pension: {{session.prices.halfBoardPrice}} €</ng-container>
            </ng-container>
          </td>
          <td data-label="Ages">
            <ng-container *ngIf="session.maximumAge > session.minimumAge">{{session.minimumAge}} à {{session.maximumAge}} ans</ng-container>
            <ng-container *ngIf="session.maximumAge === session.minimumAge">{{session.minimumAge}} ans</ng-container>
          </td>
          <td data-label="Inscriptions">
            <mat-progress-bar mode="determinate" [value]="percentageOfRegistrations(session)"
                              color="primary"></mat-progress-bar>
            {{(session.numberOfRegistrationsInProgress +
            session.numberOfRegistrationsAccepted)}}/{{session.maximumNumberOfRegistrations}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="address-document-container">
      <div class="address-container">
        <div class="title">Le lieu</div>
        <div [innerHTML]="footballCamp.details.location | safeHtml"></div>
      </div>
      <div class="document-container">
        <div class="title">Les documents</div>
        <a *ngFor="let document of footballCamp.details.documents"
           class="document"
           [href]="document.url"
           download>
          <div class="card-icon">
            <mat-icon [inline]="true">file_download</mat-icon>
          </div>
          <u>{{document.name}}</u>
        </a>
      </div>
    </div>
  </div>

  <div class="gallery-container" [ngClass]="isViewerOpened() ? 'z-index11' : 'z-index2'">
    <div class="gallery-inner-container">
      <div class="title">La gallerie photo</div>
      <app-gallery [flexBorderSize]="3" [flexImageSize]="7" [metadataUri]="footballCamp.details.pathToGallery"
                   (viewerChange)="onViewerChange($event)">
      </app-gallery>
    </div>
  </div>

  <div class="registrations-grid-container">
    <div class="registrations-grid-inner-container">
      <div class="title">Les inscriptions</div>
      <mat-form-field [appearance]="'outline'">
        <mat-select [(value)]="selectedSession" placeholder="Sessions">
          <mat-option
            *ngFor="let session of this.sessions"
            [value]="session"
          >
            {{session.start.toDate() | date}} au {{session.end.toDate() | date}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="selectedSession">
        <app-registrations-grid
          [sessionId]="selectedSession.id"
          [adminMode]="false">
        </app-registrations-grid>
      </ng-container>
    </div>
  </div>
</div>
<div class="loading-container" *ngIf="!footballCamp">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>
