@mixin app-details-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-details {
    display: flex;
    flex-direction: column;
    color: #4A4A4A;
    min-height: 100%;

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
      position: relative;

      .background-container {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        z-index: -1;

        &::before {
          background-image: url(/assets/img/background-detail.svg) ;
          background-repeat: no-repeat;
          background-position: center top;
          background-size: cover;
          content: '';
          height: 100%;
          left: 0;
          position: fixed;
          top: 0;
          width: 100%;
          will-change: transform;
          z-index: -1;
        }
      }

      .carousel-container {
        position: relative;
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(/assets/img/home/1.jpeg);

        .text {
          position: absolute;
          z-index: 1;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);

          width: 100%;
          text-align: center;

          font-family: 'Milkshake';
          font-size: 100px;
          @include small-screen {
            font-size: 80px;
          }
          color: mat-color($primary);
        }
      }

      .action-button-container {
        position: relative;
        top: -25px;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        .action-button {
          height: 50px;
          padding: 0 35px;
          border-radius: 50px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          line-height: 50px;
          display: inline-block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          outline: none;
          cursor: pointer;
          white-space: nowrap;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: .5px;
          font-size: 12px;
          font-weight: 700;
          -webkit-transition: background-color .2s;
          transition: background-color .2s;
          color: #4A4A4A;
          background-color: white;
          font-family: Roboto;
          position: absolute;
        }

        .action-button:hover {
          color: mat-color($primary);
        }
      }

      .registration-bar-sticky-container {
        height: 60px;
        position: fixed;
        background-color: #fafafa;
        bottom: 0;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.25);
        z-index: 3;

        .action-button-container {
          top: 0 !important;
          margin-bottom: 0 !important;
          height: 60px !important;
          align-items: center !important;;
        }
      }

      .badges-outer-container {
        display: flex;
        flex-direction: column;
        width: 90%;

        @include big-screen {
          overflow: auto;
        }

        app-football-camp-badges {
          overflow: auto;
        }
      }

      .flow-container {
        width: 75%;
        margin-top: 20px;
        align-self: center;
        min-width: 300px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        border: 1px solid rgba(0, 0, 0, 0.25);
        background-color: white;

        @include small-screen {
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-top: 10px;
        }

        .organizer-container {
          padding: 25px;

          @include small-screen {
            padding: 10px;
          }

          .organizer-inner-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include big-screen {
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              padding: 0 10px 0 10px;
            }

            .quote {
              margin-bottom: 5px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              @include big-screen {
                flex-direction: row;
                align-items: center;
                width: 600px;
              }
            }

            .quote:hover * {
              filter: brightness(80%);
            }

            .avatar {
              border-radius: 50%;
              border: rgba(0, 0, 0, 0.125) 1px solid;
              height: 128px;
              width: 128px;
              min-width: 128px;
              margin-right: 10px;
              background-color: rgba(0, 0, 0, 0.125);
            }
          }
        }
      }

      .image-description-container {
        width: 75%;
        margin-top: 20px;
        align-self: center;
        min-width: 300px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @include small-screen {
          flex-direction: column;
          width: 100%;
          margin-top: 10px;
        }

        .image-container {
          max-width: 600px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          padding: 25px;
          background-color: white;
          align-self: flex-start;

          @include small-screen {
            padding: 10px;
          }

          img {
            max-width: 100%;
          }
        }

        .description-container {
          margin-left: 20px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          padding: 25px;
          background-color: white;

          @include small-screen {
            margin-left: 0;
            margin-top: 10px;
            padding: 10px;
          }

          .description-block {
            margin-bottom: 10px;

            ul {
              padding-inline-start: 20px;

              li {
                margin-left: 15px;
              }
            }
          }
        }
      }

      .address-document-date-price-container {
        width: 75%;
        margin-top: 20px;
        align-self: center;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @include small-screen {
          flex-direction: column;
          width: 100%;
          margin-top: 10px;
        }

        .address-document-container {
          display: flex;
          flex-direction: column;
          min-width: 480px;
          justify-content: space-between;

          @include small-screen {
            margin-top: 10px;
            min-width: 0;
          }

          .document-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid rgba(0, 0, 0, 0.25);
            padding: 25px;
            background-color: white;

            @include small-screen {
              padding: 10px;
            }

            .document {
              display: flex;
              flex-direction: row;
              align-items: center;
              color: mat-color($primary);
              text-decoration: none;
              margin-bottom: 5px;

              @include small-screen {
                margin-bottom: 10px;
              }

              .card-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #E7F8FF;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 5px;

                mat-icon {
                  width: 25px !important;
                  height: 25px !important;
                  font-size: 25px !important;
                  line-height: 1 !important;
                }
              }
            }

            .document:last-child {
              margin-bottom: 0;
            }
          }

          .address-container {
            border: 1px solid rgba(0, 0, 0, 0.25);
            padding: 25px;
            background-color: white;
            margin-top: 10px;
            flex: 1;

            a {
              color: mat-color($primary);
              @include small-screen {
                text-overflow: ellipsis;
              }
            }

            a[target="_blank"]::after {
              content: url("/assets/img/external-link.svg");
              margin: 0 3px 0 3px;
            }
          }
        }

        .date-price-container {
          border: 1px solid rgba(0, 0, 0, 0.25);
          padding: 25px;
          background-color: white;
          margin-right: 20px;

          @include small-screen {
            margin-right: 0;
            padding: 10px;
          }

          .description-block {
            margin-bottom: 10px;

            ul {
              list-style: inside;

              li {
                margin-left: 20px;
              }
            }
          }

          table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
          }

          table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
          }

          table tr {
            background: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
          }

          table th,
          table td {
            padding: .625em;
            text-align: center;
          }

          table td * {
            margin: auto;
          }

          table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
          }

          @media screen and (max-width: 600px) {
            table {
              border: 0;
            }
            table caption {
              font-size: 1.3em;
            }
            table thead {
              border: none;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
            }
            table tr {
              border-bottom: 3px solid #ddd;
              display: block;
              margin-bottom: .625em;
            }
            table td {
              border-bottom: 1px solid #ddd;
              display: block;
              font-size: .8em;
              text-align: right;
            }
            table td:before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
            table td:last-child {
              border-bottom: 0;
            }
          }
        }
      }

      .gallery-container {
        width: 75%;
        margin-top: 20px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        background-color: white;

        @include small-screen {
          width: 100%;
          margin-top: 10px;
        }

        .gallery-inner-container {
          padding: 25px;

          @include small-screen {
            padding: 10px;
          }

          app-gallery {
          }

          viewer {
            .outerContainer {
              top: 64px;
              height: auto;
              width: auto;
            }
          }
        }
      }

      .registrations-grid-container {
        width: 75%;
        margin-top: 20px;
        min-width: 300px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        background-color: white;

        @include small-screen {
          width: 100%;
          margin-top: 10px;
        }

        .registrations-grid-inner-container {
          padding: 25px;

          @include small-screen {
           padding: 10px;
          }
        }
      }
    }

    .loading-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
