<div class="main-container">
  <ng-container *ngIf="footballCamp">
    <div class="carousel-container">
      <div class="text">
        Footcamps
      </div>
    </div>

    <div class="action-button-container">
      <a class="action-button" [routerLink]="['/v2/stages/' + footballCamp.id + '/inscription']">Inscription</a>
    </div>

    <div snInViewport (inViewportChange)="onInViewportChange($event)"></div>

    <div *ngIf="showRegistrationBar" class="registration-bar-sticky-container">
      <div class="action-button-container">
        <a class="action-button" [routerLink]="['/v2/stages/' + footballCamp.id + '/inscription']">Inscription</a>
      </div>
    </div>

    <div class="content-container">
      <app-badges [campId]="footballCamp.id"></app-badges>
    </div>

    <div class="flow-container">
      <div class="organizer-container">
        <p [innerHTML]="footballCamp.details.organizerDescription | safeHtml"></p>
        <div class="organizer-inner-container" *ngIf="footballCamp.details.organizers != null">
          <div class="quote" *ngFor="let organizer of footballCamp.details.organizers">
            <img class="avatar" src="{{organizer.pathToPicture}}">
            <blockquote>
              <div [innerHTML]="organizer.quote | safeHtml"></div>
              <cite>{{organizer.firstname}} {{organizer.lastname}}</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="description-container">
      <div class="image-container">
        <img [src]="footballCamp.overview.pathToImage400px">
      </div>
      <div class="text-container" [innerHTML]="footballCamp.details.activityDescription"></div>
    </div>

    <!--    <div class="test"/>-->
  </ng-container>
</div>
