@mixin football-camp-app-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  app-root {
    display: flex;
    flex-direction: column;
    mat-sidenav-container {
      flex: 1;
      margin-top: 56px;
      overflow: auto;
      @include big-screen {
        margin-top: 64px;
      }
      mat-sidenav {
        display: flex !important;
        flex-direction: column;
        width: 250px;
        background-color: #19212b !important;
        color: white !important;
        button {
          padding: 10px !important;
          width: 100% !important;
          text-align: left !important;
        }
      }
    }
    router-outlet + * {
      display: flex;
      margin: 0;
      width: 100%;
      height: 100%;
    }
    footer {
      background-color: mat-color($primary, darker);
      overflow: auto;
      mat-toolbar {
        height: 20px !important;
        .brand {
          font-family: 'Milkshake';
          font-size: 19px;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}
