<div fxLayout="column" fxFlexFill>

  <header fxFlex="64px">
    <md-toolbar color="primary">
      <span class="title-spacer">FootCamps</span>
      <button md-button>Trouver un stage</button>
      <button md-button>Organiser un stage</button>
    </md-toolbar>
  </header>

  <div id="content" fxLayout="column" fxFlex fxFlexFill>
    <!--<md-toolbar fxLayout="row" fxLayoutAlign="start center" class="search-toolbar">-->
      <!--<button md-button>-->
        <!--<md-icon>build</md-icon>-->
      <!--</button>-->

      <!--<span fxFlex="10px"></span>-->

      <!--<md-input-container>-->
        <!--<input mdInput placeholder="Prix">-->
      <!--</md-input-container>-->

      <!--<span fxFlex="10px"></span>-->

      <!--<md-input-container>-->
        <!--<input mdInput [mdDatepicker]="picker" placeholder="Choisissez une date">-->
        <!--<button mdSuffix [mdDatepickerToggle]="picker"></button>-->
      <!--</md-input-container>-->
      <!--<md-datepicker #picker></md-datepicker>-->
    <!--</md-toolbar>-->

    <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
      <football-camp-overview></football-camp-overview>
      <football-camp-map fxFlexFill></football-camp-map>
    </div>
  </div>

  <footer fxFlex="64px">
    <md-toolbar color="primary">
      <span>The Footer</span>
    </md-toolbar>
  </footer>

</div>
