<div id="wrapper">
  <header>
    <md-toolbar color="primary">
      <span class="title-spacer">FootCamps</span>
      <button md-button>Trouver un stage</button>
      <button md-button>Organiser un stage</button>
    </md-toolbar>
  </header>
  <div id="content" fxLayout="row" fxLayoutAlign="start center">
      <football-camp-overview class="football-camp-overview"></football-camp-overview>

      <sebm-google-map [latitude]="46.7307497" [longitude]="2.1" [zoom]="7" fxFill>
        <sebm-google-map-marker [latitude]="46.7307497" [longitude]="3.5123698"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="48.7307497" [longitude]="4.5123698"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="44.7307497" [longitude]="2.5123698"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="47.7307497" [longitude]="1.5123698"></sebm-google-map-marker>
        <sebm-google-map-marker [latitude]="45.7307497" [longitude]="0.5123698"></sebm-google-map-marker>
      </sebm-google-map>
  </div>
  <footer>The Footer</footer>
</div>
