@mixin football-camp-app-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  app-root {
    display: flex;
    flex-direction: column;
    mat-sidenav-container {
      flex: 1;
      margin-top: 64px;

      @include small-screen {
        margin-top: 56px;
      }

      mat-sidenav {
        display: flex !important;
        flex-direction: column;
        width: 250px;
        background-color: #19212b !important;
        color: white !important;
        position: fixed !important;
        top: 64px !important;

        @include small-screen {
          top: 56px !important;
        }

        button {
          padding: 10px !important;
          width: 100% !important;
          text-align: left !important;
        }
      }

      mat-sidenav-content {
        overflow: inherit !important;
      }
    }
    router-outlet + * {
      display: flex;
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }
}
