<ng-container *ngIf="footballCamp$ | async as footballCamp">
  <ng-container *ngIf="session$ | async as session">
    <span>Paiement 100% sécurisé grâce à la plateforme <a href="https://stripe.com/fr" target="_blank">Stripe</a></span>
    <span>Suite à votre paiement vous recevrez deux e-mails à l'adresse suivante <b>{{registration?.trainee?.email}}</b></span>
    <ul>
      <li>Un e-mail confirmant le paiement</li>
      <li>Un e-mail confirmant votre inscription</li>
    </ul>

    <mat-checkbox [(ngModel)]="isReducedPrice">Tarif réduit: {{footballCamp.paymentInfo.reducedPriceCondition}}</mat-checkbox>
    <!-- Display a payment form -->
    <form id="payment-form">
      <div id="card-element">
        <ngx-stripe-card
          [options]="cardOptions"
          [elementsOptions]="elementsOptions"
          (change)="onChange($event)"
        ></ngx-stripe-card>
      </div>
      <button id="submit" (click)="pay()" [disabled]="isButtonDisabled">
        <div class="spinner" id="spinner" *ngIf="isProcessingPayment"></div>
        <span id="button-text" *ngIf="!isReducedPrice">Payer {{footballCamp.paymentInfo.prices.halfBoardPrice}} €</span>
        <span id="button-text" *ngIf="isReducedPrice">Payer {{footballCamp.paymentInfo.prices.halfBoardReducedPrice}} €</span>
      </button>
      <p id="card-error" role="alert">{{errorMessage}}</p>
    </form>
  </ng-container>
</ng-container>
