@mixin setColor($color) {
  .title {
    background: $color;
  }
  .subtitle:after {
    color: $color;
  }
}

@mixin app-badge-theme($theme) {
  app-badge {

    margin: 20px;

    .loading-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .badge {
      position: relative;
      display: inline-block;

      width: 180px;
      @include small-screen {
        width: 100px;
      }

      svg {
        width: 180px;
        height: auto;
        @include small-screen {
          width: 100px;
          height: auto;
        }
      }

      .title {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        position: absolute;
        top: -28px;
        border-radius: 8px 8px 0 0;
        text-align: center;
        width: 100%;
        background: red;
        padding: 20px 0;

        @include small-screen {
          font-size: 0.9em;
          top: -30px;
          padding: 10px 0;
        }
      }

      .subtitle {
        position: absolute;
        font-family: "Fjalla One", sans-serif;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        color: white;
        position: absolute;
        top: 55px;

        @include small-screen {
          font-size: 0.9em;
          top: 28px;
        }

        &:after {
          content: "★ ★ ★";
          display: block;
          font-size: 0.7em;
          position: relative;
          margin: 20px 0 0;
          transition: all .3s;

          @include small-screen {
            margin: 5px 0 0;
          }
        }
      }

      &:hover .subtitle:after {
        word-spacing: 5px;
      }
    }

    .primary {
      @include setColor(mat-color($primary));
    }

    .accent {
      @include setColor(mat-color($accent));
    }
  }
}
