@mixin app-admin-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-admin {
    display: flex;
    flex-direction: column;
    color: #4A4A4A;
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);

    @include small-screen {
      min-height: calc(100vh - 56px);
      max-height: calc(100vh - 56px);
    }

    .background-container {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      overflow: hidden;
      z-index: -1;

      &::before {
        background-color: $brown;
        background-size: cover;
        content: '';
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -1;
      }
    }

    .main-container {
      margin: 15px;
      display: flex;
      flex: 1;
      overflow-y: auto;

      @include small-screen {
        margin: 0;
      }

      .main-inner-container {
        display: flex;
        flex-direction: row;
        flex: 1;
        max-width: 100%;

        @include small-screen {
          flex-direction: column;
        }

        .overview-container {
          flex: 0.6;
          margin-right: 10px;
          display: flex;
          flex-direction: column;

          @include small-screen {
            margin-right: 0;
          }

          .welcome-container {
            border: 1px solid rgba(0, 0, 0, 0.25);
            color: white;
            background-color: #2b2d30;
            padding: 10px;
          }

          .camp-and-session-container {
            border: 1px solid rgba(0, 0, 0, 0.25);
            color: white;
            background-color: #2b2d30;
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 10px;
            align-items: center;

            @include small-screen {
              align-items: stretch;
            }

            .spacer {
              flex: 1;
            }

            .session-select {
              margin-left: 15px;

              @include small-screen {
                margin-left: 0;
              }
            }

            .mat-form-field-wrapper {
              margin-bottom: -1.25em;
            }

            @include small-screen {
              flex-direction: column;
            }
          }
        }

        .details-container {
          flex: 0.4;
          display: flex;
        }
      }
    }

    .loading-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
