<ng-container *ngIf="footballCamp$ | async as footballCamp">
  <ng-container *ngIf="session$ | async as session">
    <div>Pour finaliser votre inscription au stage <b>{{footballCamp.city}}</b>, veuillez choisir votre mode de
      paiement.
    </div>
    <mat-tab-group>
      <mat-tab *ngFor="let paymentMode of footballCamp.paymentInfo.acceptedPaymentModes">
        <ng-template mat-tab-label>{{paymentMode | paymentMode}}</ng-template>
        <ng-container [ngSwitch]="paymentMode">
          <app-payment-mode-online *ngSwitchCase="PaymentMode.ONLINE"
                                   [campId]="campId"
                                   [sessionId]="sessionId"
                                   [registration]="registration"
                                   (isValid)="onIsValid($event)"
          >
          </app-payment-mode-online>
          <app-payment-mode-in-person *ngSwitchCase="PaymentMode.IN_PERSON"
                                      [campId]="campId"
                                      [sessionId]="sessionId"
                                      [registration]="registration"
                                      (isValid)="onIsValid($event)"
          >
          </app-payment-mode-in-person>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</ng-container>
