<div class="main-container">

  <div class="background-container"></div>

  <div class="carousel-container">
    <div class="text">
      Footcamps
    </div>
  </div>

  <div class="action-button-container">
    <a class="action-button" matRipple [routerLink]='"."' (click)="scroll(target)">Trouvez un stage</a>
  </div>

  <div class="flow-container">
    <div class="flow-inner-container">
      <div class="content-inner-container">
        <div class="card-container">
          <div class="card-icon">
            <mat-icon color="primary">place</mat-icon>
          </div>
          <span class="card-title">Trouvez un stage</span>
          <div class="card-content">
            <b>Trouvez le stage</b> qui vous convient en utilisant différents critères de recherche
          </div>
        </div>
      </div>

      <div class="content-inner-container">
        <div class="card-container">
          <div class="card-icon">
            <mat-icon color="primary">create</mat-icon>
          </div>
          <span class="card-title">Inscrivez-vous</span>
          <div class="card-content">
            <b>Inscrivez-vous</b> en remplissant un formulaire.<br>
            Attention une <b>photo</b> de votre enfant sera demandée<br>
          </div>
        </div>
      </div>

      <div class="content-inner-container">
        <div class="card-container">
          <div class="card-icon">
            <mat-icon color="primary">attach_money</mat-icon>
          </div>
          <span class="card-title">Payez en ligne</span>
          <div class="card-content">
            Suivant les stages <b>différents modes de paiements</b> peuvent être acceptés. CB, chèque, chèque-vacance ou autre
          </div>
        </div>
      </div>

      <div class="content-inner-container">
        <div class="card-container">
          <div class="card-icon">
            <mat-icon color="primary">send</mat-icon>
          </div>
          <span class="card-title">Recevez une confirmation</span>
          <div class="card-content">
            <b>Recevez deux e-mails</b>.
            Lors de la prise en compte de votre inscription, puis lors de la validation par l'organisateur
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #target>
    <app-footcamps-list-overview></app-footcamps-list-overview>
  </div>
</div>
