@mixin app-home-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-home {
    display: flex;
    flex-direction: column;
    color: #4A4A4A;

    min-height: calc(100vh - 64px);
    @include small-screen {
      min-height: calc(100vh - 56px);
    }

    .main-container {
      display: flex;
      flex-direction: column;

      .background-container {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        z-index: -1;

        &::before {
          background-image: url(/assets/img/background-detail.svg) ;
          background-repeat: no-repeat;
          background-position: center top;
          background-size: cover;
          content: '';
          height: 100%;
          left: 0;
          position: fixed;
          top: 0;
          width: 100%;
          will-change: transform;
          z-index: -1;
        }
      }

      .action-button-container {
        position: relative;
        top: -25px;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        .action-button {
          height: 50px;
          padding: 0 35px;
          border-radius: 50px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          line-height: 50px;
          display: inline-block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          outline: none;
          cursor: pointer;
          white-space: nowrap;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: .5px;
          font-size: 12px;
          font-weight: 700;
          -webkit-transition: background-color .2s;
          transition: background-color .2s;
          color: #4A4A4A;
          background-color: white;
          font-family: Roboto;
          position: absolute;
        }

        .action-button:hover {
          color: mat-color($primary);
        }
      }

      .carousel-container {
        position: relative;
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(/assets/img/home/1.jpeg);

        .text {
          position: absolute;
          z-index: 1;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);

          width: 100%;
          text-align: center;

          font-family: 'Milkshake';
          font-size: 100px;
          @include small-screen {
            font-size: 80px;
          }
          color: mat-color($primary);
        }
      }

      .flow-container {
        width: 80%;
        margin-top: 20px;
        align-self: center;
        min-width: 300px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border: 1px solid rgba(0, 0, 0, 0.25);
        background-color: white;

        @include small-screen {
          width: 100%;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
          border-top: 1px solid rgba(0, 0, 0, 0.25);
        }

        .flow-inner-container {
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-start;
          padding: 20px;

          @include small-screen {
            flex-direction: column;
            align-items: center;
            padding: 10px;
          }
        }

        .content-inner-container {
          flex: 1;
          max-width: 400px;
          margin: 0 5px 0 5px;

          @include small-screen {
            margin: 10px 0 10px 0;
          }

          .card-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .card-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #E7F8FF;
              border-radius: 50%;
              width: 60px;
              height: 60px;

              mat-icon {
                width: 35px;
                height: 35px;
                font-size: 35px;
              }
            }

            .card-title {
              color: #4A4A4A;
              font-size: 27px;
              padding-top: 10px;
              padding-bottom: 10px;
            }

            .card-content {
              font-size: 17px;
              text-align: center;
              color: #4A4A4A;
            }
          }

          mat-card-content {
            font-size: 13pt;
          }

          .card-header-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            color: mat-color($primary);
            font-size: 22px;

            padding-bottom: 7px;
          }

          .card-content-container {
            padding-top: 7px;
            font-size: 17px;
          }
        }
      }
    }
  }
}
