<div class="main-container">

  <div class="background-container"></div>

  <div class="carousel-container">
    <div class="text">
      Footcamps
    </div>
  </div>

  <div class="action-button-container">
    <a class="action-button" matRipple [routerLink]='"."' (click)="scroll(target)">Trouvez un stage</a>
  </div>

  <div class="flow-container">
    <div class="flow-inner-container">
      <div class="content-inner-container">
        <div class="card-container">
          <div class="card-icon">
            <mat-icon color="primary">create</mat-icon>
          </div>
          <span class="card-title">S'inscrire</span>
          <div class="card-content">
            Pour commencer, trouvez le stage de football qui vous convient et <b>inscrivez-vous</b> en ligne
          </div>
        </div>
      </div>

      <div class="content-inner-container">
        <div class="card-container">
          <div class="card-icon">
            <mat-icon color="primary">payment</mat-icon>
          </div>
          <span class="card-title">Payer en ligne</span>
          <div class="card-content">
            <b>Différents modes de paiements</b> peuvent être acceptés : carte bancaire, chèque, espèce, chèque-vacance, coupons sports
          </div>
        </div>
      </div>

      <div class="content-inner-container">
        <div class="card-container">
          <div class="card-icon">
            <mat-icon color="primary" svgIcon="events"></mat-icon>
          </div>
          <span class="card-title">Participer</span>
          <div class="card-content">
            Recevez une <b>confirmation de l'organisateur</b> par mail
            <br>
            Vous êtes enfin prêt à participer
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #target>
    <app-footcamps-list-overview></app-footcamps-list-overview>
  </div>
</div>
