@mixin overview($color) {
  border-left-color: $color;
  border-left-width: 20px;
  border-left-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin circle($color) {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background-color: $color;
  font-size: x-large;
}

@mixin app-football-camp-registrations-overview-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-football-camp-registrations-overview {
    //width: 100%;

    .container {
      display: flex;
      //flex: 1;
      flex-direction: row;
      justify-content: space-between;

      .overview-accepted {
        @include overview(mat-color($primary));
        .circle {
          @include circle(mat-color($primary));
        }
      }

      .overview-in-progress {
        @include overview(mat-color($accent));
        .circle {
          @include circle(mat-color($accent));
        }
      }

      .overview-rejected {
        @include overview(mat-color($warn));
        .circle {
          @include circle(mat-color($warn));
        }
      }
    }
  }
}
