@mixin setColor($color) {
  .title {
    background: $color;
  }
  .subtitle:after {
    color: $color;
  }
}

@mixin app-football-camp-badge-theme($theme) {
  app-football-camp-badge {

    .loading-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .badge {
      position: relative;
      display: inline-block;

      width: 160px;
      @include small-screen {
        width: 150px;
      }

      svg  {
        width: 160px;
        height: auto;
        @include small-screen {
          width: 150px;
          height: auto;
        }
      }

      .title {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 1.7em;
        position: absolute;
        top: -28px;
        border-radius: 8px 8px 0 0;
        text-align: center;
        width: 100%;
        background: red;
        padding: 20px 0;

        @include small-screen {
          top: 0px;
          font-size: 1.5em;
          padding: 10px 0;
        }
      }

      .subtitle {
        position: absolute;
        font-family: "Fjalla One", sans-serif;
        font-size: 1.8em;
        width: 100%;
        text-align: center;
        color: white;
        position: absolute;
        top: 100px;
        @include small-screen {
          top: 90px;
        }

        &:after {
          content: "★ ★ ★";
          display: block;
          font-size: .4em;
          position: relative;
          margin: 15px 0 0;
          transition: all .3s;
        }
      }

      &:hover .subtitle:after {
        word-spacing: 30px;
        @include small-screen {
          word-spacing: 10px;
        }
      }
    }

    .primary {
      @include setColor(mat-color($primary));
    }

    .accent {
      @include setColor(mat-color($accent));
    }
  }
}
