<div *ngIf="!footballCamp" class="main-container">
  Loading...
</div>
<div *ngIf="footballCamp" class="main-container">

  <!-- Absolute positioned FAB button to register -->
  <button class="fab-button-registration" mat-fab color="accent" [routerLink]="[ '/registration/', footballCamp.id ]">
    <mat-icon class="mat-24">create</mat-icon>
  </button>

  <!-- menu on the left -->
  <div class="menu-container">
    <mat-nav-list>
      <a mat-list-item [routerLink]="[]" [class.active]="isAnchorActive('description')" fragment="description">Description</a>
      <a mat-list-item [routerLink]="[]" [class.active]="isAnchorActive('location')"  fragment="location">Localisation</a>
      <a mat-list-item [routerLink]="[]" [class.active]="isAnchorActive('organizers')"  fragment="organizers">Les organisateurs et les parrains</a>
      <a mat-list-item [routerLink]="[]" [class.active]="isAnchorActive('gallery-photo')"  fragment="gallery-photo">Gallerie Photo</a>
    </mat-nav-list>
  </div>
  <!--<div class="logo-container">-->
  <!--<img [src]="footballCamp.details.pathToLogo" class="details-logo">-->
  <!--<img src="./assets/img/soccer-sketch.png" class="soccer-ball">-->
  <!--</div>-->
  <div class="vertical-line"></div>

  <!-- content on the right -->
  <div class="content-container" #content-container>
    <span  id="description" class="separator"></span>
    <span class="separator"></span>

    <!-- Description -->
    <div class="container">
      <mat-toolbar>
        <mat-icon class="mat-24">description</mat-icon>
        <span fxFlex="10px"></span>
        <span>Description</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <p [innerHTML]="footballCamp.details.description | safeHtml"></p>
          <b>Programme:</b>
          <a href="{{footballCamp.details.pathToSchedule}}" download mat-raised-button color="primary">Télécharger le
            programme
            de la semaine</a>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!-- Location -->
    <div class="container" id="location">
      <mat-toolbar>
        <mat-icon class="mat-24">location_on</mat-icon>
        <span fxFlex="10px"></span>
        <span>Localisation</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <p [innerHTML]="footballCamp.details.location | safeHtml"></p>
          <div fxLayout="row" fxLayoutAlign="start center" class="details-location-address">
            <b>Adresse: </b>
            <span fxFlex="10px"></span>
            <a [href]="footballCamp.details.gmapsUrl" mat-raised-button
               color="primary">{{footballCamp.details.address}}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!--Organizers -->
    <div class="container" id="organizers">
      <mat-toolbar>
        <mat-icon class="mat-24">face</mat-icon>
        <span fxFlex="10px"></span>
        <span>Les organisateurs et les parrains</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <p [innerHTML]="footballCamp.details.organizerDescription | safeHtml"></p>
          <div *ngIf="footballCamp.details.organizers != null">
            <div class="quote" *ngFor="let organizer of footballCamp.details.organizers">
              <img class="avatar" src="{{organizer.pathToPicture}}">
              <blockquote>
                <div [innerHTML]="organizer.quote | safeHtml"></div>
                <cite>{{organizer.firstname}} {{organizer.lastname}}</cite>
              </blockquote>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!-- Photo gallery -->
    <div class="container" id="gallery-photo">
      <mat-toolbar>
        <mat-icon class="mat-24">photo</mat-icon>
        <span fxFlex="10px"></span>
        <span>La galerie photo</span>
      </mat-toolbar>
      <!--<span fxFlex="3px" class="background-white"></span>-->
      <mat-card [ngClass]="isViewerOpened() ? 'z-index11' : 'z-index2'">
        <mat-card-content>
          <gallery [flexBorderSize]="3" [flexImageSize]="7" [metadataUri]="footballCamp.details.pathToGallery"
                   (viewerChange)="onViewerChange($event)">
          </gallery>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!-- Dates and prices -->
    <div class="container">
      <mat-toolbar>
        <mat-icon class="mat-24">date_range</mat-icon>
        <span fxFlex="10px"></span>
        <span>Les dates et tarifs</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <table>
            <thead>
            <tr>
              <th scope="col">Sessions</th>
              <th scope="col">Dates</th>
              <th scope="col" *ngIf="hasFullBoardRatesSessions()">Tarifs en Pension complète</th>
              <th scope="col" *ngIf="hasHalfBoardRatesSessions()">Tarifs en Demi-pension</th>
              <th scope="col">Inscriptions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let session of sessions; let i = index">
              <td data-label="Sessions">Session n°{{i}}</td>
              <td data-label="Dates">A partir du {{session.start.toDate() | date : 'longDate'}} jusqu'au
                {{session.end.toDate() | date :
                'longDate'}}
              </td>
              <td data-label="Tarifs en Pension complète" *ngIf="hasFullBoardRatesSessions()">
                {{session.fullBoardRates}}
                €
              </td>
              <td data-label="Tarifs en Demi-pension" *ngIf="hasHalfBoardRatesSessions()">{{session.halfBoardRates}} €
              </td>
              <td data-label="Inscriptions">
                <!--<mat-progress-spinner [value]="percentageOfRegistrations(session)"></mat-progress-spinner>-->
                <mat-progress-bar mode="determinate" [value]="percentageOfRegistrations(session)"
                                  color="primary"></mat-progress-bar>
                {{(session.numberOfRegistrationsInProgress +
                session.numberOfRegistrationsAccepted)}}/{{session.maximumNumberOfRegistrations}}
              </td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!-- Registration link -->
    <div class="container">
      <mat-toolbar>
        <mat-icon class="mat-24">create</mat-icon>
        <span fxFlex="10px"></span>
        <span>Les inscriptions</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <div
            *ngIf="footballCamp.details.useOnlineRegistration; then redirectToRegistrationPage; else redirectToWebsite">
          </div>

          <ng-template #redirectToRegistrationPage>
            Les inscriptions se font sur FootCamps !
            <br>
            <br>
            <div fxLayout="column" fxLayoutAlign="none center">
              <a [routerLink]="[ '/registration/', footballCamp.id ]" mat-raised-button color="primary"
                 class="link-to-maps">Je
                m'inscris sans attendre !</a>
            </div>
          </ng-template>

          <ng-template #redirectToWebsite>
            Pour le moment les inscriptions sont uniquement possibles via le site de l'organisateur.
            <br>
            <br>
            <div fxLayout="column" fxLayoutAlign="none center">
              <a [href]="footballCamp.details.registrationUrl" mat-raised-button color="primary" class="link-to-maps">Je
                m'inscris sans attendre !</a>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>
    <span class="separator"></span>
  </div>
</div>
