<div *ngIf="!footballCamp" class="main-container">
  Loading...
</div>
<div *ngIf="footballCamp" class="main-container">

  <!-- Absolute positioned FAB button to register -->
  <button class="fab-button-registration" mat-fab color="accent" [routerLink]="[ '/registration/', footballCamp.id ]">
    <mat-icon class="mat-24">create</mat-icon>
  </button>

  <!-- menu on the left -->
  <div class="menu-container">
    <div class="separator"></div>
    <div class="separator"></div>

    <table-of-contents #toc
                       *ngIf="showToc"
                       headerSelectors=".header"
                       container=".content-container"></table-of-contents>
  </div>
  <!--</div>-->
  <div class="vertical-line"></div>

  <!-- content on the right -->
  <div class="content-container" #contentContainer>
    <span class="separator"></span>
    <span class="separator"></span>


    <!-- Description -->
    <div class="container scrollable">
      <mat-toolbar>
        <mat-icon class="mat-24">description</mat-icon>
        <span fxFlex="10px"></span>
        <span class="header" id="description">Description</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <p [innerHTML]="footballCamp.details.description | safeHtml"></p>
          <div class="program-container">
            <b>Programme:</b> &nbsp;
            <a href="{{footballCamp.details.pathToSchedule}}" download mat-stroked-button color="primary">Télécharger le
              programme</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!-- Location -->
    <div class="container scrollable">
      <mat-toolbar>
        <mat-icon class="mat-24">location_on</mat-icon>
        <span fxFlex="10px"></span>
        <span class="header" id="location">Localisation</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <p [innerHTML]="footballCamp.details.location | safeHtml"></p>
          <div class="address-container">
            <b>Adresse:</b> &nbsp;{{footballCamp.details.address}}
          </div>
          <!--<a [href]="footballCamp.details.gmapsUrl" mat-stroked-button color="primary">Lien vers Maps</a>-->
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!--Organizers -->
    <div class="container scrollable">
      <mat-toolbar>
        <mat-icon class="mat-24">face</mat-icon>
        <span fxFlex="10px"></span>
        <span class="header" id="organizers">Organisateurs</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <p [innerHTML]="footballCamp.details.organizerDescription | safeHtml"></p>
          <div *ngIf="footballCamp.details.organizers != null">
            <div class="quote" *ngFor="let organizer of footballCamp.details.organizers">
              <img class="avatar" src="{{organizer.pathToPicture}}">
              <blockquote>
                <div [innerHTML]="organizer.quote | safeHtml"></div>
                <cite>{{organizer.firstname}} {{organizer.lastname}}</cite>
              </blockquote>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!-- Photo gallery -->
    <div class="container scrollable">
      <mat-toolbar>
        <mat-icon class="mat-24">photo</mat-icon>
        <span fxFlex="10px"></span>
        <span class="header" id="gallery-photo">Galerie photo</span>
      </mat-toolbar>
      <!--<span fxFlex="3px" class="background-white"></span>-->
      <mat-card [ngClass]="isViewerOpened() ? 'z-index11' : 'z-index2'">
        <mat-card-content>
          <gallery [flexBorderSize]="3" [flexImageSize]="7" [metadataUri]="footballCamp.details.pathToGallery"
                   (viewerChange)="onViewerChange($event)">
          </gallery>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!-- Dates and prices -->
    <div class="container scrollable">
      <mat-toolbar>
        <mat-icon class="mat-24">date_range</mat-icon>
        <span fxFlex="10px"></span>
        <span class="header" id="date">Dates et tarifs</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <table>
            <thead>
            <tr>
              <th scope="col">Sessions</th>
              <th scope="col">Dates</th>
              <th scope="col" *ngIf="hasFullBoardRatesSessions()">Tarifs en Pension complète</th>
              <th scope="col" *ngIf="hasHalfBoardRatesSessions()">Tarifs en Demi-pension</th>
              <th scope="col">Inscriptions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let session of sessions; let i = index">
              <td data-label="Sessions">Session n°{{i}}</td>
              <td data-label="Dates">A partir du {{session.start.toDate() | date : 'longDate'}} jusqu'au
                {{session.end.toDate() | date :
                'longDate'}}
              </td>
              <td data-label="Tarifs en Pension complète" *ngIf="hasFullBoardRatesSessions()">
                {{session.fullBoardRates}}
                €
              </td>
              <td data-label="Tarifs en Demi-pension" *ngIf="hasHalfBoardRatesSessions()">{{session.halfBoardRates}} €
              </td>
              <td data-label="Inscriptions">
                <!--<mat-progress-spinner [value]="percentageOfRegistrations(session)"></mat-progress-spinner>-->
                <mat-progress-bar mode="determinate" [value]="percentageOfRegistrations(session)"
                                  color="primary"></mat-progress-bar>
                {{(session.numberOfRegistrationsInProgress +
                session.numberOfRegistrationsAccepted)}}/{{session.maximumNumberOfRegistrations}}
              </td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>

    <!-- Registration link -->
    <div class="container scrollable">
      <mat-toolbar>
        <mat-icon class="mat-24">create</mat-icon>
        <span fxFlex="10px"></span>
        <span class="header" id="registration">Inscriptions</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <div
            *ngIf="footballCamp.details.useOnlineRegistration; then redirectToRegistrationPage; else redirectToWebsite">
          </div>

          <ng-template #redirectToRegistrationPage>
            Les inscriptions se font sur FootCamps !
            <br>
            <br>
            <div fxLayout="column" fxLayoutAlign="none center">
              <a [routerLink]="[ '/registration/', footballCamp.id ]" mat-stroked-button color="primary"
                 class="link-to-maps">Je
                m'inscris sans attendre !</a>
            </div>
          </ng-template>

          <ng-template #redirectToWebsite>
            Pour le moment les inscriptions sont uniquement possibles via le site de l'organisateur.
            <br>
            <br>
            <div fxLayout="column" fxLayoutAlign="none center">
              <a [href]="footballCamp.details.registrationUrl" mat-stroked-button color="primary" class="link-to-maps">Je
                m'inscris sans attendre !</a>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>

    <span class="separator"></span>
    <span class="separator"></span>
  </div>
</div>
