@mixin football-camp-details-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  football-camp-details {
    margin-top: 56px;

    @media (min-width: 960px) {
      margin-top: 64px;
    }
  }

  football-camp-details > div {
    overflow-y: auto;
    background: url('assets/img/examples/cover-teal.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  football-camp-details md-card {
    border-radius: 0px 0px 2px 2px !important;
  }

  football-camp-details md-toolbar {
    @include mat-elevation(2);
    position: relative;
    z-index: 1;
  }

  football-camp-details md-card-content {
    font-size: 15px !important;
  }

  .toolbar-title {
    color: mat-color($primary);
  }

  .quote:hover * {
    filter: brightness(80%);
  }

  .logo {
    height: 220px;
  }

  .avatar {
    border-radius: 50%;
    height: 128px;
    background-color: mat-color($primary);
  }

  blockquote {
    padding: 10px 20px;
    //margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
  }

  blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

  blockquote cite:before {
    content: "\2014 \2009";
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }
}
