<div fxLayout="row" fxLayoutAlign="center center" fxFlex fxFill>
  <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="66%" fxFill>

    <span fxFlex="25px"></span>

    <!-- Description -->
    <md-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
      <md-icon class="md-24">description</md-icon>
      <span fxFlex="10px"></span>
      Description
    </md-toolbar>
    <md-card>
      <md-card-content fxLayout="column" fxLayoutAlign="center center">
        <p>
          Pendant une semaine, les jeunes stagiaires auront la chance de vivre au sein du centre d’entraînement du FC
          Lorient, de côtoyer les joueurs professionnels et le staff technique. <br>
          Ils pourront ainsi découvrir la vie d’un club professionnel.
        </p>
        <carousel>
          <slide>
            <img src="assets/img/examples/camp0.jpg" style="height: 256px" alt="First slide">
          </slide>
          <slide>
            <img src="assets/img/examples/camp1.jpg" style="height: 256px" alt="Second slide">
          </slide>
        </carousel>
      </md-card-content>
    </md-card>

    <span fxFlex="25px"></span>

    <!-- Localisation -->
    <md-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
      <md-icon class="md-24">location_on</md-icon>
      <span fxFlex="10px"></span>
      Localisation
    </md-toolbar>
    <md-card>
      <md-card-content>
        <p>
          Le centre de vie du FC Lorient, l’Espace FCL, permet d’accueillir les stagiaires dans des conditions
          optimales. <br>
          Aménagé spécialement pour la pratique du football dans un cadre exceptionnel en bord de mer, le site permet
          aux jeunes stagiaires de profiter de leurs vacances en alliant découverte, progression et plaisir.
        </p>
      </md-card-content>
    </md-card>

    <span fxFlex="25px"></span>

    <!-- Les équipements -->
    <md-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
      <img src="/assets/img/ball.png" class="md-24 material-icons mat-icon"/>
      <span fxFlex="10px"></span>
      Les équipements
    </md-toolbar>
    <md-card>
      <md-card-content>
        <p>
          Le centre de vie du FC Lorient, l’Espace FCL, permet d’accueillir les stagiaires dans des conditions
          optimales. <br>
          Aménagé spécialement pour la pratique du football dans un cadre exceptionnel en bord de mer, le site permet
          aux jeunes stagiaires de profiter de leurs vacances en alliant découverte, progression et plaisir.
        </p>
      </md-card-content>
    </md-card>

    <span fxFlex="25px"></span>

    <!-- Les organisateurs et les parrains -->
    <md-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
      <md-icon class="md-24">face</md-icon>
      <span fxFlex="10px"></span>
      Les organisateurs et les parrains
    </md-toolbar>
    <md-card>
      <md-card-content>
        <p>
          Le centre de vie du FC Lorient, l’Espace FCL, permet d’accueillir les stagiaires dans des conditions
          optimales. <br>
          Aménagé spécialement pour la pratique du football dans un cadre exceptionnel en bord de mer, le site permet
          aux jeunes stagiaires de profiter de leurs vacances en alliant découverte, progression et plaisir.
        </p>
      </md-card-content>
    </md-card>

    <span fxFlex="25px"></span>

    <!-- Le programme -->
    <md-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
      <md-icon class="md-24">face</md-icon>
      <span fxFlex="10px"></span>
      Le programme
    </md-toolbar>
    <md-card>
      <md-card-content>
        <p>
          Le centre de vie du FC Lorient, l’Espace FCL, permet d’accueillir les stagiaires dans des conditions
          optimales. <br>
          Aménagé spécialement pour la pratique du football dans un cadre exceptionnel en bord de mer, le site permet
          aux jeunes stagiaires de profiter de leurs vacances en alliant découverte, progression et plaisir.
        </p>
      </md-card-content>
    </md-card>

    <span fxFlex="25px"></span>

    <!-- Les dates et tarifs -->
    <md-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
      <md-icon class="md-24">face</md-icon>
      <span fxFlex="10px"></span>
      Les dates et tarifs
    </md-toolbar>
    <md-card>
      <md-card-content>
        <p>
          Le centre de vie du FC Lorient, l’Espace FCL, permet d’accueillir les stagiaires dans des conditions
          optimales. <br>
          Aménagé spécialement pour la pratique du football dans un cadre exceptionnel en bord de mer, le site permet
          aux jeunes stagiaires de profiter de leurs vacances en alliant découverte, progression et plaisir.
        </p>
      </md-card-content>
    </md-card>

    <span fxFlex="25px"></span>

    <!-- Les inscriptions -->
    <md-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
      <md-icon class="md-24">face</md-icon>
      <span fxFlex="10px"></span>
      Les inscriptions
    </md-toolbar>
    <md-card>
      <md-card-content>
        <p>
          <a href="https://fclweb.fr/le-club/experience-fcl/#formulaire-dinscription">Rendez-vous sur le site web de
            l'organisateur pour vous inscrire </a>
        </p>
      </md-card-content>
    </md-card>

    <span fxFlex="25px"></span>
  </div>
</div>
