<div class="main-container">
  <div class="logo-container">
    <!-- <img [src]="footballCamp.details.pathToLogo" class="details-logo"> -->
    <img src="./assets/img/soccer-sketch.png" class="soccer-ball">
  </div>

  <hr class="vertical-line">

  <div class="content-container">
    <span class="separator"></span>
    <span class="separator"></span>

    <!-- Description -->
    <div class="container">
      <md-toolbar color="primary">
        <md-icon>description</md-icon>
        <span>Fiche d'inscription</span>
      </md-toolbar>
      <md-card>
        <md-card-content>
          <h4>Informations générales</h4>
          <div class="registration-global-informations">
            <div class="registration-global-informations-left">
              <!-- Photo -->
              <img src="./assets/img/registration/avatar2.png" class="registration-avatar">
            </div>

            <div class="registration-global-informations-right">
              <!-- Sexe -->
              <md-radio-group [(ngModel)]="registration.gender">
                <md-radio-button value="Male">Garçon</md-radio-button>
                <md-radio-button value="Female">Fille</md-radio-button>
              </md-radio-group>

              <!-- Nom & Prénom -->
              <md-form-field>
                <input mdInput type="text" placeholder="Prénom" [(ngModel)]="registration.firstname">
              </md-form-field>

              <md-form-field>
                <input mdInput type="text" placeholder="Nom" [(ngModel)]="registration.lastname">
              </md-form-field>

              <!-- Date de naissance -->
              <md-form-field>
                <input mdInput [mdDatepicker]="picker" placeholder="Date de naissance" disabled [(ngModel)]="registration.birthdate">
                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                <md-datepicker #picker startView="year" [startAt]="startDate" disabled="false"></md-datepicker>
              </md-form-field>

              <!-- Email -->
              <md-form-field>
                <input mdInput type="email" placeholder="Email" email [(ngModel)]="registration.email">
              </md-form-field>

              <!-- Adresse -->
              <md-form-field>
                <input mdInput type="text" placeholder="Adresse" address>
              </md-form-field>
            </div>
          </div>

          <h4>Caractéristiques sportives</h4>

          todo
          <!-- Poste préféré : Gardien / Défenseur / Milieu / Attaquant -->

          <!-- Pied Gauche / Droit -->

          <!-- Zone de saisie libre (informations complémentaires) -->

          <!-- Confirmer inscription -->
          <a (click)="onConfirmRegistration()" md-button color="primary">Confirmer</a>
          <!-- <a [routerLink]="[ '/registration/confiration' ]" md-button color="primary">Confirmer</a> -->

        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
