@mixin football-camp-registration-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  football-camp-registration {
    background-image: url('assets/img/examples/wallpaper5.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .separator {
      width: 100%;
      height: 10px;
    }
    .container {
      flex: 0 0 auto;
      width: 100%;
      @include big-screen {
        width: 800px;
      }
      md-toolbar {
        @include mat-elevation(2);
        position: relative;
        z-index: 1;
      }
      md-card {
        border-radius: 0px 0px 2px 2px !important;
        border: 2px solid mat-color($primary);
        md-card-content {
          display: flex;
          flex-direction: column;
          .avatar {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            border: 2px solid mat-color($primary);
            background-color: mat-color($primary);
            background-image: url('./assets/img/registration/avatar.svg');
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
          }
          .avatar:hover {
            filter: brightness(80%); // todo background-image: url('./assets/img/registration/avatar-with-camera.svg');
          }
        }
      }
    }
  }
}
