<div *ngIf="footballCamp" class="registration-main-container">
  <div class="registration-logo-container">
    <img [src]="footballCamp.details.pathToLogo" class="details-logo">
    <img src="./assets/img/soccer-sketch.png" class="soccer-ball">
    <hr class="vertical-line">
  </div>


  <!-- Stepper -->
  <div class="registration-stepper-container">
    <h1>Inscrivez-vous en 5 min</h1>
    <mat-vertical-stepper [linear]="true" #stepper>

      <!-- Step 1 : Choose a session-->
      <mat-step [completed]="(sessionComponent.isValid | async)">
        <ng-template matStepLabel>Session</ng-template>
        <app-football-camp-registration-sessions #sessionComponent
                                                 [campId]="footballCamp.id"></app-football-camp-registration-sessions>
        <div class="separator"></div>
        <div class="next-button">
          <button mat-button matStepperNext mat-raised-button color="primary"
                  [disabled]="!(sessionComponent.isValid | async)">Suivant
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!-- Step 2 : Fill in trainee form -->
      <mat-step [completed]="(traineeFormComponent.isValid | async)">
        <ng-template matStepLabel>Inscription</ng-template>
        <app-football-camp-registration-trainee-form
          #traineeFormComponent></app-football-camp-registration-trainee-form>

        <div class="separator"></div>
        <div class="next-button">
          <button mat-button matStepperNext mat-raised-button color="primary"
                  [disabled]="!(traineeFormComponent.isValid | async)">Suivant
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!--Step 3 : Document to supply -->
      <mat-step [completed]="(documents.valid | async)">
        <ng-template matStepLabel>Documents à fournir</ng-template>
        <app-football-camp-registration-documents #documents></app-football-camp-registration-documents>

        <div class="separator"></div>
        <div class="next-button">
          <button mat-button matStepperNext mat-raised-button color="primary"
                  [disabled]="!(documents.valid | async)">Suivant
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!--Step 4 : Payment -->
      <mat-step [stepControl]="paymentFormGroup">
        <form [formGroup]="paymentFormGroup" class="payment-form-group-container">
          <ng-template matStepLabel>Paiement</ng-template>
          <span class="separator"></span>
          <mat-tab-group>
            <mat-tab label="Payer par carte">
              <app-football-camp-registration-payment [amount]="150"></app-football-camp-registration-payment>
            </mat-tab>
            <mat-tab label="Payer par chèque">
              <div>
                <br>
                En cliquant sur suivant, votre pré-inscription sera active pour le stage de {{footballCamp.city}}.
                <br>
                <!-- TODO : Gérer les prix halfBoardRates/fullBoardRates-->
                Pour confirmer votre inscription, vous devrez verser la somme de <b> {{(sessionComponent.selectedSession
                | async)?.halfBoardRates}} € (ou
                105 € à partir du deuxième enfant) avant
                le {{(sessionComponent.selectedSession | async)?.endRegistrationDate?.toDate() | date :
                'longDate'}}.</b><br>
                <!-- TODO : Gérer le mode de paiement de manière dynamique-->
                <ul>
                  <li>Par chèque à l'ordre de "AS Coat Méal"</li>
                  <li>Par chèques vacances</li>
                </ul>
                <br>
                En le rendant en main propre à <span *ngFor="let organizer of footballCamp.details.organizers"><b>{{organizer.firstname}} {{organizer.lastname}}</b>, </span>
                ou en l'envoyant l'adresse suivante: <b>Stéphane Le HIR, 11 Kergongar 29860 Bourg-blanc</b><br>
                Si vous rencontrez un problème, veuillez contacter une des personnes suivantes:
                <br>
                <mat-list>
                  <mat-list-item *ngFor="let organizer of footballCamp.details.organizers">
                    <!-- TODO : CSS -->
                    <img matListAvatar [src]="organizer.pathToPicture" class="contact-avatar"
                         *ngIf="organizer.manageRegistration">
                    <h3 matLine *ngIf="organizer.manageRegistration"> {{organizer.firstname}}
                      {{organizer.lastname}} </h3>
                    <p matLine *ngIf="organizer.manageRegistration">
                      <span> {{organizer.phoneNumber}} </span>
                    </p>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-tab>
          </mat-tab-group>
          <mat-form-field class="hidden-input">
            <input matInput formControlName="payment">
          </mat-form-field>
        </form>
      </mat-step>

      <!-- Step 5 : Summary -->
      <mat-step [editable]="false">
        <ng-template matStepLabel>Récapitulatif</ng-template>
        Félicitations vous êtes <b>pré-inscrit</b> pour le stage de {{footballCamp.city}} !
        <br>
        Vous avez du recevoir un mail de confirmation à l'adresse suivante: <b>{{registration?.email}}</b>
        <br>
        Un autre mail vous sera envoyé lorsque votre inscription aura été réglée.
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
<div *ngIf="isLoading" class="loading-spinner-container">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>
