<div class="registration-main-container">
  <div class="registration-logo-container">
    <!-- <img [src]="footballCamp.details.pathToLogo" class="details-logo"> -->
    <img src="./assets/img/soccer-sketch.png" class="soccer-ball">
  </div>

  <hr class="vertical-line">

  <div class="registration-content-container">
    <!-- Description -->
    <div class="registration-content-container-inner">
      <mat-toolbar color="primary">
        <mat-icon>description</mat-icon>
        <span>Fiche d'inscription</span>
      </mat-toolbar>
      <mat-card>
        <mat-card-content>
          <h4>Informations générales</h4>
          <div class="registration-global-informations">
            <!-- Photo -->
            <img src="./assets/img/registration/avatar2.png" class="registration-avatar">

            <!-- Nom & Prénom -->
            <mat-form-field>
              <input matInput type="text" placeholder="Prénom" [(ngModel)]="registration.firstname">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" placeholder="Nom" [(ngModel)]="registration.lastname">
            </mat-form-field>

            <!-- Sexe -->
            <mat-radio-group [(ngModel)]="registration.gender">
              <mat-radio-button value="Male">Garçon</mat-radio-button>
              <mat-radio-button value="Female">Fille</mat-radio-button>
            </mat-radio-group>

            <!-- Date de naissance -->
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date de naissance" disabled [(ngModel)]="registration.birthdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field>
              <input matInput type="email" placeholder="Email" email [(ngModel)]="registration.email">
            </mat-form-field>

            <!-- Adresse -->
            <mat-form-field>
              <input matInput type="text" placeholder="Adresse" address>
            </mat-form-field>
          </div>

          <h4>Caractéristiques sportives</h4>
          <div class="registration-global-informations">
            <!-- Club -->
            <mat-form-field>
              <input matInput type="text" placeholder="Club actuel" address>
            </mat-form-field>
            <!-- Poste préféré : Gardien / Défenseur / Milieu / Attaquant -->
            <mat-radio-group>
              <mat-radio-button value="1">Gardien</mat-radio-button>
              <mat-radio-button value="2">Défenseur</mat-radio-button>
              <mat-radio-button value="3">Milieu</mat-radio-button>
              <mat-radio-button value="4">Attaquant</mat-radio-button>
            </mat-radio-group>
            <span class="separator"></span>
            <!-- Pied Gauche / Droit -->
            <mat-radio-group>
              <mat-radio-button value="1">Droitier</mat-radio-button>
              <mat-radio-button value="2">Gaucher</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Zone de saisie libre (informations complémentaires) -->
          <span class="separator"></span>

          <!-- Confirmer inscription -->
          <a (click)="onConfirmRegistration()" mat-button color="primary">Suivant</a>
          <!-- <a [routerLink]="[ '/registration/confiration' ]" mat-button color="primary">Confirmer</a> -->

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
