<ng-container *ngIf="footballCamp$ | async as footballCamp">
  <ng-container *ngIf="session$ | async as session">
    <ng-container *ngIf="session.prices.free">
      Le stage est gratuit 🥳 !
      <br>
      <br>
    </ng-container>
    <ng-container *ngIf="!session.prices.free">
      Vous devez vous acquitter de la somme de <b> {{session.prices.halfBoardPrice}} €<sup>(*)</sup> </b>
      avant le <b>{{session.endRegistrationDate.toDate() | date : 'longDate'}}.</b>
      <br>
      <div class="accepted-payment-type-container">
        Les différents moyens de paiements acceptés :
        <div *ngFor="let paymentType of footballCamp.paymentInfo.acceptedPaymentTypes">
          <div *ngIf="paymentType === PaymentType.CARD">
            <img src='assets/img/card.jpg' class="logo">
          </div>
          <div *ngIf="paymentType === PaymentType.CHECK">
            <img src='assets/img/check.png' class="logo">
          </div>
          <div *ngIf="paymentType === PaymentType.HOLIDAY_CHECK">
            <img src='assets/img/holiday-check.png' class="logo">
          </div>
          <div *ngIf="paymentType === PaymentType.CASH">
            <img src='assets/img/cash.jpg' class="logo">
          </div>
        </div>
      </div>
      Pour la paiement du stage, veuillez vous rapprocher de l'une des personnes suivantes:
      <br>
      <mat-list>
        <ng-container *ngFor="let organizer of footballCamp.details.organizers">
          <mat-list-item *ngIf="organizer.manageRegistration">
            <img matListAvatar [src]="organizer.pathToPicture" class="contact-avatar">
            <h3 matLine> {{organizer.firstname}} {{organizer.lastname}} </h3>
            <p matLine><span> {{organizer.phoneNumber}} </span></p>
          </mat-list-item>
        </ng-container>
      </mat-list>

      <br>
      <b><sup>(*)</sup></b>Tarifs réduit : {{footballCamp.paymentInfo.reducedPriceCondition}}<br>
      <br>
      <br>
    </ng-container>
    <div class="next-button">
      <button mat-stroked-button color="primary" (click)="onPay()" [disabled]="isButtonDisabled">
        Suivant
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </ng-container>
</ng-container>
