<div class="main-container">

  <div class="carousel-container">
    <div class="text">
      Footcamps
    </div>

    <mat-carousel
      [hideArrows]="hideArrows"
      [hideIndicators]="true"
      [slides]="slides"
      [proportion]="proportion"
      [loop]="true"
      [interval]="7500"
      color="accent"
    >
      <mat-carousel-slide
        *ngFor="let slide of slides; let i = index"
        image={{slide.image}}
      >

      </mat-carousel-slide>
    </mat-carousel>
  </div>

  <div class="content-container">
    <a class="dark-button" [routerLink]="['/locate']">Trouve un stage</a>
    <mat-card>
      <mat-card-content>
        Footcamps est une <b>plateforme d'inscriptions aux stages de football</b>.
        Elle vous permet de <b>trouver un stage</b> suivant différents critères
        (lieu, activités proposées, catégories, dates, disponibilités, tarifs), puis de <b>s'y inscrir en ligne</b>.
        La validation de l'inscription est gérée par l'oganisateur du stage. Une fois l'inscription validée, vous recevez <b>un mail de confirmation</b>.
        Suivant les stages, <b>différents mode de paiements</b> peuvent être acceptés (chèques, chèques-vacances, espèces).
        Il est important de noter qu'une inscription pourra être invalidée dans la cas où le paiement n'a pas eu lieu avant la date butoire.
      </mat-card-content>
    </mat-card>
  </div>

  <div class="logo-container">
    <div class="inner-logo-container">
      <mat-icon color="primary">place</mat-icon>
      <span>Trouvez un stage de football</span>
    </div>
    <div class="inner-logo-container">
      <mat-icon color="primary">create</mat-icon>
      <span>Inscrivez-vous</span>
    </div>
    <div class="inner-logo-container">
      <mat-icon color="primary">attach_money</mat-icon>
      <span>Payez plus tard <sup>*</sup></span>
    </div>
    <div class="inner-logo-container">
      <mat-icon color="primary">send</mat-icon>
      <span>Recevez une confirmation</span>
    </div>
  </div>
</div>
