<div class="print-bar-sticky-container">
  <button class="action-button" matRipple (click)="onPrint()">Imprimer</button>
</div>


<div class="print-container">
  <div class="page">
    <div class="page-inner-container">
      <div class="header-container">Senior Fullstack Developer</div>
      <div class="content-container">
        <div class="identity-container">
          <div class="identity-left-container">
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">face</mat-icon>
              </div>
              <div>Clément Tréguer (<a href="https://github.com/klem231188">GitHub</a>)</div>
            </div>
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">location_on</mat-icon>
              </div>
              <div>1 Nengoat 29860 Bourg-Blanc, France</div>
            </div>
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">mail</mat-icon>
              </div>
              <div><a href="mailto:clemtreguer@gmail.com">clemtreguer@gmail.com</a></div>
            </div>
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">phone</mat-icon>
              </div>
              <div><a href="tel:+336 66 32 95 70">+336 66 32 95 70</a></div>
            </div>
            <div class="identity-line">
              <div class="card-icon">
                <mat-icon color="primary" [inline]="true">cake</mat-icon>
              </div>
              <div>33 ans</div>
            </div>
          </div>
          <div class="identity-right-container">
            <img class="avatar" src="./assets/img/resume/clement-treguer.jpeg">
          </div>
        </div>

        <div class="skill-container">
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">code</mat-icon>
            </div>
            <div class="skill-title"><b>Software languages</b></div>
            <div>Java, SQL, TypeScript, Html, Scss, Bash</div>
          </div>
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">code</mat-icon>
            </div>
            <div class="skill-title"><b>Frameworks & Technologies</b></div>
            <div>Spring Boot, Angular, APIs, Kafka, ActiveMQ, Docker</div>
          </div>
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">build</mat-icon>
            </div>
            <div class="skill-title"><b>Development tools</b></div>
            <div>Linux, IntelliJ, Maven, Svn, Jenkins, Jira</div>
          </div>
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">build</mat-icon>
            </div>
            <div class="skill-title"><b>Working methods</b></div>
            <div>Scrum, Agility</div>
          </div>
          <div class="skill-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">translate</mat-icon>
            </div>
            <div class="skill-title"><b>Languages</b></div>
            <div>French, English</div>
          </div>
        </div>

        <div class="experience-container">
          <div class="experience-line">
            <div class="img-container">
              <a href="https://www.addsecure.com/" target="_blank">
                <img class="addsecure" src="./assets/img/resume/addsecure.png">
              </a>
            </div>
            <div class="date-container">
              <div>2018 - now()</div>
            </div>
            <div>
              <b>Fullstack developer</b> (Java/Angular) for AddSecure<br>
              Development of a SaaS solution for a fleet management system<br>
              Stack : Java, Spring Boot, Angular, APIs (SOAP + REST), Kafka, Microservices, Docker
            </div>
          </div>
          <div class="experience-line">
            <div class="img-container">
              <a href="https://www.altran.com/" target="_blank">
                <img class="altran" src="./assets/img/resume/altran.png">
              </a>
            </div>
            <div class="date-container">
              <div>2014 - 2018</div>
            </div>
            <div>
              <b>Fullstack developer</b> (Java/Angular) for Altran<br>
              Development of the responsive website <a href="https://www.cmb.fr/" target="_blank">www.cmb.fr</a><br>
              Stack : Java, Spring, REST API, Angular
            </div>
          </div>
          <div class="experience-line">
            <div class="img-container">
              <a href="http://www.imascap.com/fr/" target="_blank">
                <img class="imascap" src="./assets/img/resume/imascap.png">
              </a>
            </div>
            <div class="date-container">
              <div>2013 - 2014</div>
            </div>
            <div>
              <b>Backend developer</b> (C++) for Imascap<br>
              Imascap offers innovative solutions in computer-assisted surgery
            </div>
          </div>
          <div class="experience-line">
            <div class="img-container">
              <a href="https://www.polymont-engineering.fr/" target="_blank">
                <img class="effitic" src="./assets/img/resume/effitic.png">
              </a>
            </div>
            <div class="date-container">
              <div>2011 - 2013</div>
            </div>
            <div>
              <b>Backend developer</b> (Java) for Effitic<br>
              Missions, for two clients:
              <ul>
                <li>Alcatel-Lucent (Telephone Routing)</li>
                <li>Insee (Web)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="other-container">
          <div class="other-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">school</mat-icon>
            </div>
            <div class="other-title"><b>Education</b></div>
            <div>Bac S, Maths Sup/Spé<sup>*</sup> at Brest<br>
              ENSICAEN engineering school at Caen - Computer science and image processing
            </div>
          </div>
          <div class="other-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">sports_soccer</mat-icon>
            </div>
            <div class="other-title"><b>Hobbies</b></div>
            <div>Computer science, running, football</div>
          </div>
          <div class="other-line">
            <div class="card-icon">
              <mat-icon color="primary" [inline]="true">emoji_events</mat-icon>
            </div>
            <div class="other-title"><b>Achievements</b></div>
            <div>
              Website to register online for a football camp.<br>
              <a href="https://footcamps-development.web.app" target="_blank">https://footcamps-development.web.app</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
