<ng-container *ngIf="!loading">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let registration">
        <mat-checkbox
          (click)="$event.stopPropagation();"
          (change)="onClickRegistration(registration)"
          [checked]="isRegistrationSelected(registration)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
      <td mat-cell *matCellDef="let registration"> {{registration.trainee.firstname | titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
      <td mat-cell *matCellDef="let registration"> {{registration.trainee.lastname | uppercase}}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut</th>
      <td mat-cell *matCellDef="let registration" [ngClass]="{
        'primary': registration.state === 'ACCEPTED',
        'accent': registration.state === 'IN_PROGRESS',
        'warn': registration.state === 'REJECTED'
        }">
        {{registration.state | state}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row (click)="onClickRegistration(row);" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="spacer"></div>
  <div class="mat-paginator-sticky">
    <button mat-stroked-button color="primary" (click)="exportAll()">
      <mat-icon>save_alt</mat-icon>
      Export global
    </button>
    <button mat-stroked-button color="primary" (click)="exportEquipment()">
      <mat-icon>save_alt</mat-icon>
      Export équipement
    </button>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="20" showFirstLastButtons></mat-paginator>
  </div>

</ng-container>

<div class="loading-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
