<div class="loading-container" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>

<div *ngIf="footballCamp" class="main-container">
  <div class="carousel-container">
    <div class="text">
      Footcamps
    </div>
  </div>

  <!-- Stepper -->
  <div class="registration-stepper-container">
    <mat-vertical-stepper [linear]="true" #stepper>

      <!-- Step 1 : Choose a session-->
      <mat-step [completed]="isStepSessionValid">
        <ng-template matStepLabel>Choix session</ng-template>
        <app-step-sessions #sessionComponent (isValid)="isStepSessionValid = $event;" [campId]="footballCamp.id"></app-step-sessions>
        <div class="separator"></div>
        <div class="next-button">
          <button matStepperNext mat-stroked-button color="primary"
                  [disabled]="!isStepSessionValid">Suivant
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!-- Step 2 : Fill in trainee form -->
      <mat-step [completed]="isStepTraineeFormValid">
        <ng-template matStepLabel>Remplir formulaire</ng-template>
        <app-step-trainee-form (isValid)="isStepTraineeFormValid = $event;"></app-step-trainee-form>
        <div class="separator"></div>
        <div class="next-button">
          <button mat-stroked-button matStepperNext color="primary"
                  [disabled]="!isStepTraineeFormValid">Suivant
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!--Step 3 : Document to supply -->
      <mat-step [completed]="(isStepDocumentsValid)">
        <ng-template matStepLabel>Documents à fournir</ng-template>
        <app-step-documents (isValid)="isStepDocumentsValid = $event;"></app-step-documents>
        <div class="separator"></div>
        <div class="next-button">
          <button mat-stroked-button matStepperNext color="primary"
                  [disabled]="!isStepDocumentsValid">Suivant
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-step>

      <!--Step 4 : Payment -->
      <mat-step>
        <ng-template matStepLabel>Paiement</ng-template>
        <app-step-payment
          [campId]="footballCamp.id"
          [sessionId]="(sessionComponent.selectedSession | async)?.id"
          [registration]="registration">
        </app-step-payment>
      </mat-step>


    </mat-vertical-stepper>
  </div>
</div>
