@media print {
  @page {
    margin: 0;
    size: A4;
  }

  body {
    app-root {
      app-header {
        display: none;
      }

      mat-sidenav-container {
        margin-top: 0;
      }

      -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
      color-adjust: exact !important; /*Firefox*/
    }
  }
}
