@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import 'theme.scss';

@font-face {
  font-family: "Milkshake";
  src: url("./assets/font/Milkshake.woff") format("woff")
}

html,
body,
app-root {
  height: 100%;
  width: 100%;
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.z-index1 {
  z-index: 1;
}

.z-index2 {
  z-index: 2;
}

.z-index3 {
  z-index: 3;
}

.z-index11 {
  z-index: 11;
}
