@import '~@angular/material/theming';
@import 'flex-mixin.scss';
@import 'media-queries.scss';
@import 'app/app.component.scss';
@import 'app/features/admin/admin.component.scss';
@import 'app/features/admin/components/session-overview/session-overview.component.scss';
@import 'app/features/admin/components/registration-details/registration-details.component';
@import 'app/features/details/details.component.scss';
@import 'app/features/details/components/badges/badges.component.scss';
@import 'app/features/details/components/badge/badge.component.scss';
@import 'app/features/header/header.component.scss';
@import 'app/features/home/home.component.scss';
@import 'app/features/home/components/footcamps-list-overview/footcamps-list-overview.component.scss';
@import 'app/features/playground/playground.component.scss';
@import 'app/features/registration/registration.component.scss';
@import 'app/features/registration/components/step-sessions/step-sessions.component.scss';
@import 'app/features/registration/components/step-trainee-form/step-trainee-form.component.scss';
@import 'app/features/registration/components/step-documents/step-documents.component.scss';
@import 'app/features/registration/components/step-payment/step-payment.component.scss';
@import 'app/features/registration/components/step-payment/components/payment-mode-in-person/payment-mode-in-person.component.scss';
@import 'app/features/registration/components/step-payment/components/payment-mode-online/payment-mode-online.component.scss';
@import 'app/shared/components/login/login.component.scss';
@import 'app/shared/components/registrations-grid/registrations-grid.component.scss';
@import 'app/shared/components/file-upload/file-upload.component.scss';

@import 'app/components/football-camp-print-registration/football-camp-print-registration.component.scss';
@import 'app/components/football-camp-print-equipment/football-camp-print-equipment.component.scss';
@import 'app/components/football-camp-print-receipt/football-camp-print-receipt.component.scss';
@import 'app/components/football-camp-print-registrations/football-camp-print-registrations.component.scss';

@include mat-core();
$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-amber, A200, A100, A400);
$warn: mat-palette($mat-red);
$football-camp-theme: mat-light-theme($primary, $accent, $warn);
@mixin football-camp-theme($theme) {
  // features > admin
  @include app-admin-theme($theme);
  @include app-session-overview-theme($theme);
  @include app-registration-details-theme($theme);
  // features > details
  @include app-details-theme($theme);
  @include app-badge-theme($theme);
  @include app-badges-theme($theme);
  // features > header
  @include app-header-theme($theme);
  // features > home
  @include app-footcamps-list-overview-theme($theme);
  @include app-home-theme($theme);
  // features > playground
  @include app-playground-theme($theme);
  // features > registration
  @include app-registration-theme($theme);
  @include app-step-sessions-theme($theme);
  @include app-step-trainee-form-theme($theme);
  @include app-step-documents-theme($theme);
  @include app-step-payment-theme($theme);
  @include app-payment-mode-in-person-theme($theme);
  @include app-payment-mode-online-theme($theme);
  // shared > components
  @include app-file-upload-theme($theme);
  @include app-login-theme($theme);
  @include app-registrations-grid-theme($theme);

  @include football-camp-app-theme($theme);
  @include app-football-camp-print-registration-theme($theme);
  @include app-football-camp-print-equipment-theme($theme);
  @include app-football-camp-print-receipt-theme($theme);
  @include app-football-camp-print-registrations-theme($theme);
}

@include angular-material-theme($football-camp-theme);
@include football-camp-theme($football-camp-theme);
