@import '~@angular/material/theming';
@import '../src/app/football-camp-overview/football-camp-overview.component.scss';

@include mat-core();

$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$warn:    mat-palette($mat-red);
$football-camp-theme: mat-light-theme($primary, $accent, $warn);

@mixin football-camp-theme($theme) {
  @include football-camp-overview-theme($theme);
}

@include angular-material-theme($football-camp-theme);
@include football-camp-theme($football-camp-theme);
