@import '~@angular/material/theming';
@import 'flex-mixin.scss';
@import 'media-queries.scss';
@import 'app/app.component.scss';
@import 'app/components/football-camp-overview/football-camp-overview.component.scss';
@import 'app/components/football-camp-details/football-camp-details.component.scss';
@import 'app/components/football-camp-locator/football-camp-locator.component.scss';
@import 'app/components/football-camp-map/football-camp-map.component.scss';
@import 'app/components/football-camp-header/football-camp-header.component.scss';
@import 'app/components/football-camp-login/football-camp-login.component.scss';
@import 'app/components/football-camp-registration/football-camp-registration.component.scss';
@import 'app/components/football-camp-registration-documents/football-camp-registration-documents.component.scss';
@import 'app/components/football-camp-registration-trainee-form/football-camp-registration-trainee-form.component.scss';
@import 'app/components/football-camp-registration-sessions/football-camp-registration-sessions.component.scss';
@import 'app/components/football-camp-registration-payment/football-camp-registration-payment.component';
@import 'app/components/football-camp-print-registration/football-camp-print-registration.component.scss';
@import 'app/components/football-camp-registration-check-payment/football-camp-registration-check-payment.component';
@import 'app/components/football-camp-file-upload/football-camp-file-upload.component.scss';
@import 'app/components/table-of-contents/table-of-contents-theme.scss';
@import 'app/components/football-camp-registrations-overview/football-camp-registrations-overview.component.scss';
@import 'app/components/playground/playground.component.scss';
@import 'app/components/football-camp-admin-dashboard/football-camp-admin-dashboard.component.scss';
@import 'app/components/football-camp-admin-dashboard/football-camp-session-overview/football-camp-session-overview.component.scss';
@import 'app/components/football-camp-home/football-camp-home.component.scss';

@include mat-core();
$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-amber, A200, A100, A400);
$warn: mat-palette($mat-red);
$football-camp-theme: mat-light-theme($primary, $accent, $warn);
@mixin football-camp-theme($theme) {
  @include football-camp-login-theme($theme);
  @include football-camp-registration-theme($theme);
  @include app-football-camp-registration-payment-theme($theme);
  @include app-football-camp-registration-check-payment($theme);
  @include app-football-camp-registration-documents($theme);
  @include app-football-camp-registration-trainee-form($theme);
  @include app-football-camp-registration-sessions($theme);
  @include football-camp-overview-theme($theme);
  @include football-camp-details-theme($theme);
  @include football-camp-locator-theme($theme);
  @include football-camp-map-theme($theme);
  @include football-camp-header-theme($theme);
  @include football-camp-app-theme($theme);
  @include football-camp-file-upload-theme($theme);
  @include table-of-contents-theme($theme);
  @include app-football-camp-registrations-overview-theme($theme);
  @include app-playground-theme($theme);
  @include app-football-camp-admin-dashboard-theme($theme);
  @include app-football-camp-session-overview-theme($theme);
  @include app-football-camp-print-registration-theme($theme);
  @include app-football-camp-home-theme($theme);
}

@include angular-material-theme($football-camp-theme);
@include football-camp-theme($football-camp-theme);
