<sebm-google-map [latitude]="46.7307497" [longitude]="2.1" [zoom]="7" fxFlexFill>

  <sebm-google-map-marker
    *ngFor="let footballCampMarker of footballCampMarkers"
    (markerClick)="onFootballCampMarkerClicked(footballCampMarker)"
    [latitude]="footballCampMarker.latitude"
    [longitude]="footballCampMarker.longitude"
  >

  </sebm-google-map-marker>

  <!--<sebm-google-map-marker (markerClick)="onFootballCampMarkerClicked($event)" [latitude]="46.7307497" [longitude]="3.5123698"></sebm-google-map-marker>-->
  <!--<sebm-google-map-marker (markerClick)="onFootballCampMarkerClicked()" [latitude]="48.7307497" [longitude]="4.5123698"></sebm-google-map-marker>-->
  <!--<sebm-google-map-marker (markerClick)="onFootballCampMarkerClicked()" [latitude]="44.7307497" [longitude]="2.5123698"></sebm-google-map-marker>-->
  <!--<sebm-google-map-marker (markerClick)="onFootballCampMarkerClicked()" [latitude]="47.7307497" [longitude]="1.5123698"></sebm-google-map-marker>-->
  <!--<sebm-google-map-marker (markerClick)="onFootballCampMarkerClicked()" [latitude]="45.7307497" [longitude]="0.5123698"></sebm-google-map-marker>-->
</sebm-google-map>
