<form [formGroup]="registrationForm"
      class="registration-form-group-container"
      novalidate>
  <h4>Informations générales du stagiaire</h4>

  <!-- firstname -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="Ex: Marco" formControlName="firstname" required>
    <mat-error *ngIf="firstname.invalid">{{getFirstnameError()}}</mat-error>
  </mat-form-field>

  <!-- lastname -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Ex: Verratti" formControlName="lastname" required>
    <mat-error *ngIf="lastname.invalid">{{getLastnameError()}}</mat-error>
  </mat-form-field>

  <!-- gender -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Genre</mat-label>
    <mat-select formControlName="gender" required>
      <mat-option [value]="'MALE'">Garçon</mat-option>
      <mat-option [value]="'FEMALE'">Fille</mat-option>
    </mat-select>
    <mat-error *ngIf="gender.invalid">{{getGenderError()}}</mat-error>
  </mat-form-field>

  <!-- birthdate -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Date de naissance</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Ex: 23/11/2010" formControlName="birthdate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="birthdate.invalid">{{getBirthdateError()}}</mat-error>
  </mat-form-field>

  <!-- Contact email -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>E-mail du représentant légal</mat-label>
    <input matInput type="mon-email@gmail.com" placeholder="Ex: me@gmail.com" formControlName="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
  </mat-form-field>

  <!-- shortSize  -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Taille maillot</mat-label>
    <mat-select formControlName="shortSize" required>
      <mat-option [value]="'XXS'">XXS | 122-128 cm	| 6-8 ans</mat-option>
      <mat-option [value]="'XS'">XS | 128-137 cm	| 8-10 ans</mat-option>
      <mat-option [value]="'S'">S | 137-147 cm	| 10-12 ans</mat-option>
      <mat-option [value]="'M'">M | 147-158 cm	| 12-14 ans</mat-option>
      <mat-option [value]="'L'">L | 158-170 cm	| 14-16 ans</mat-option>
    </mat-select>
    <mat-error *ngIf="shortSize.invalid">{{getShortSizeError()}}</mat-error>
  </mat-form-field>

  <!-- shoeSize -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Pointure</mat-label>
    <input matInput placeholder="Ex: 30" formControlName="shoeSize" type="number" required>
    <mat-error *ngIf="shoeSize.invalid">{{getShoeSizeError()}}</mat-error>
  </mat-form-field>
  <span class="separator"></span>

  <h4>Informations sportives du stagiaire</h4>
  <!-- Club -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Club actuel</mat-label>
    <input matInput placeholder="Ex: Stade Brestois 29" formControlName="club">
  </mat-form-field>

  <!-- Poste préféré : Gardien / Défenseur / Milieu / Attaquant -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Poste préférentiel</mat-label>
    <mat-select formControlName="fieldPosition" required>
      <mat-option [value]="'GOALKEEPER'">Gardien</mat-option>
      <mat-option [value]="'DEFENDER'">Défenseur</mat-option>
      <mat-option [value]="'MIDFIELDER'">Milieu</mat-option>
      <mat-option [value]="'STRIKER'">Attaquant</mat-option>
    </mat-select>
    <mat-error *ngIf="fieldPosition.invalid">{{getFieldPositionError()}}</mat-error>
  </mat-form-field>

  <!-- Pied Gauche / Droit -->
  <mat-form-field [appearance]="'outline'">
    <mat-label>Pied préférentiel</mat-label>
    <mat-select formControlName="feet" required>
      <mat-option [value]="'LEFT_FOOTED'">Gaucher</mat-option>
      <mat-option [value]="'RIGHT_FOOTED'">Droitier</mat-option>
    </mat-select>
    <mat-error *ngIf="fieldPosition.invalid">{{getFeetError()}}</mat-error>
  </mat-form-field>
</form>
