@mixin app-registrations-grid-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-registrations-grid {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    min-height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: #2b2d30;

    @include small-screen {
      overflow-y: auto;
      overflow-x: hidden;
    }

    .table-container {
      overflow-x: auto;

      table {
        width: 100%;
        max-width: 100%;
        background: transparent;

        thead {
          font-family: 'Cubano';
        }

        tbody {
          font-weight: bold;
        }

        th, td {
          vertical-align: middle;
          z-index: 1 !important;
        }

        tbody tr:last-child td {
          border-bottom-color: transparent;
        }

        .mat-row {
          cursor: pointer;
        }

        .mat-row:hover {
          background: rgba(0, 0, 0, 0.1);
        }

        .mat-column-select {
          overflow: initial;
        }

        .accent {
          color: mat-color($accent);
        }

        .primary {
          color: mat-color($primary);
        }

        .warn {
          color: mat-color($warn);
        }

        .pink {
          color: deeppink;

          svg {
            fill: deeppink;
          }
        }

        .blue {
          fill: deepskyblue;
          color: deepskyblue;

          svg {
            fill: deepskyblue;
          }
        }
      }
    }

    @include big-screen {
      .spacer {
        flex: 1;
      }

      .mat-paginator-sticky {
        bottom: 0;
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.12);
        background: transparent;

        button {
          margin-left: 10px;
        }

        mat-paginator {
          flex: 1;
          background: transparent;
        }
      }
    }

    @include small-screen {
      .mat-paginator-sticky {
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(255, 255, 255, 0.12);
      }
    }

    .loading-container {
      flex: 1;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
