<!--<app-football-camp-registration-payment [amount]="150"></app-football-camp-registration-payment>-->
<!--<app-football-camp-registration-check-payment></app-football-camp-registration-check-payment>-->
<!--<app-football-camp-registration-documents></app-football-camp-registration-documents>-->
<!--<app-football-camp-registration-sessions [campId]="'WCG80PBOCvPxVLTuorxc'"></app-football-camp-registration-sessions>-->
<!--<app-football-camp-registration-trainee-form></app-football-camp-registration-trainee-form>-->
<!--<football-camp-overview [footballCamp]="null"></football-camp-overview>-->
<!--<app-football-camp-home></app-football-camp-home>-->



<!--<app-football-camp-badge [title]="'Stages'" [subtitle]="'1'"></app-football-camp-badge>-->
<!--<app-football-camp-badge [title]="'Stages'" [subtitle]="'2'"></app-football-camp-badge>-->
<!--<app-football-camp-badge [title]="'Stages'" [subtitle]="'3'"></app-football-camp-badge>-->
<!--<app-football-camp-admin-dashboard-registration-table sessionId="Q0tmkBl4nk2dDUbVYsFy"></app-football-camp-admin-dashboard-registration-table>-->
<!--<app-football-camp-admin-dashboard></app-football-camp-admin-dashboard>-->
<!--<app-football-camp-admin-dashboard-registration-details-->
<!--  registrationId="xd4P74ffxmyG0Kk83O1q"></app-football-camp-admin-dashboard-registration-details>-->
<!--<mat-tab-group>-->
<!--<mat-tab label="Payer par carte">-->
<!--<app-football-camp-registration-payment [amount]="150"></app-football-camp-registration-payment>-->
<!--<app-football-camp-registration-card-payment></app-football-camp-registration-card-payment>-->
<!--</mat-tab>-->
<!--<mat-tab label="Payer par chèque">-->
<!--<app-football-camp-registration-check-payment [campId]="'8zG6SI08QsVCeWSZ0IpE'" [sessionId]="'POMd3zzzZQbCfJYFdpE8'" [registration]="registration"></app-football-camp-registration-check-payment>-->
<app-football-camp-registration-card-payment [campId]="'8zG6SI08QsVCeWSZ0IpE'" [sessionId]="'POMd3zzzZQbCfJYFdpE8'" [registration]="registration"></app-football-camp-registration-card-payment>
<!--</mat-tab>-->
<!--</mat-tab-group>-->
<!--<app-football-camp-registrations-viewer></app-football-camp-registrations-viewer>-->
<!--<app-football-camp-registrations-overview [sessionId]="'govfYYku1YAip7IWgk0i'"></app-football-camp-registrations-overview>-->
