<app-football-camp-registration-payment [amount]="150"></app-football-camp-registration-payment>
<app-football-camp-registration-check-payment></app-football-camp-registration-check-payment>
<!--<app-football-camp-registration-documents></app-football-camp-registration-documents>-->
<!--<app-football-camp-registration-sessions [campId]="'WCG80PBOCvPxVLTuorxc'"></app-football-camp-registration-sessions>-->
<!--<app-football-camp-registration-trainee-form></app-football-camp-registration-trainee-form>-->
