//.playground-container {
//  width: 100%;
//  h1 {
//    font-size: 1.5em;
//    color: #009688;
//  }
//  mat-list {
//    width: 100%;
//  }
//  margin-top: 8px;
//}
@mixin app-playground-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-playground {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    flex-wrap: wrap;

    //football-camp-overview {
    //  width: 610px;
    //  @include small-screen {
    //    width: 100%;
    //  }
    //}

    app-football-camp-admin-dashboard-registration-table {
      flex: 1;
    }
  }
}
