@mixin app-registration-details-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-registration-details {
    flex: 1;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.25);

    @include small-screen {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .card-container {
      flex: 1;
      box-shadow: none !important;
      border-radius: 0;

      h2 {
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;
      }

      .header-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        flex: 1;

        .photo-container {
          height: 150px;
          width: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(0, 0, 0, 0.25);

          @include small-screen {
            height: 100px;
            width: 100px;
          }
          .photo {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .name-age-container {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          overflow: auto;

          .name {
            font-weight: bold;
            font-size: 20px;
          }
        }

        .print-button-container {
          position: absolute;

          display: flex;
          flex-direction: row;
          align-items: center;
          right: 10px;

          mat-spinner {
            margin-right: 5px;
          }

          @include small-screen {
            display: none;
          }
        }
      }

      .caracteristic-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        .caracteristic-general-container {
          margin-right: 25px;
        }
      }

      mat-card-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .accent {
        background-color: mat-color($accent);
        padding: 7px;
        border-radius: 5px;
      }

      .primary {
        background-color: mat-color($primary);
        padding: 7px;
        border-radius: 5px;
      }

      .warn {
        background-color: mat-color($warn);
        padding: 7px;
        border-radius: 5px;
      }
    }
  }
}
